In [ ]:
#import pymongo
#cliente = pymongo.MongoClient()
#cliente.list_databases.names()

#nueva_base = cliente.nueva_base
#nueva_base.list_collection_names()

#db.createCollection('test');

In [1]:
import pymongo

In [2]:
cliente = pymongo.MongoClient()

In [15]:
cliente.list_database_names()

['Test', 'admin', 'config', 'local', 'nueva_db']

In [16]:
nueva_base2 = cliente.nueva_base2

In [18]:
cliente.list_database_names()

['Test', 'admin', 'config', 'local', 'nueva_db']

In [19]:
coleccion = nueva_base2.coleccion

In [20]:
nueva_base2.list_collection_names()

[]

In [21]:
dic1 = {'nombre':'Juan', 'edad':27}

coleccion.insert_one(dic1)

In [22]:
list(coleccion.find())

[{'_id': ObjectId('5e98fec6a359803eff02b8d8'), 'nombre': 'Juan', 'edad': 27}]

In [24]:
cliente.list_database_names()

['Test', 'admin', 'config', 'local', 'nueva_base2', 'nueva_db']

In [25]:
nueva_base2.list_collection_names()

['coleccion']

In [27]:
list(coleccion.find())

[{'_id': ObjectId('5e98fec6a359803eff02b8d8'), 'nombre': 'Juan', 'edad': 27}]

In [28]:
dic2 = {'nombre':'anai', 'edad':24}
coleccion.insert_one(dic2)

In [29]:
list(coleccion.find())

[{'_id': ObjectId('5e98fec6a359803eff02b8d8'), 'nombre': 'Juan', 'edad': 27},
 {'_id': ObjectId('5e99030aa359803eff02b8d9'), 'nombre': 'anai', 'edad': 24}]

In [32]:
dic3 = {'nombre':'Angel', 'edad':30}
coleccion.insert_one(dic3)
list(coleccion.find())

[{'_id': ObjectId('5e98fec6a359803eff02b8d8'), 'nombre': 'Juan', 'edad': 27},
 {'_id': ObjectId('5e99030aa359803eff02b8d9'), 'nombre': 'anai', 'edad': 24},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30}]

In [34]:
dic4 = {'nombre':'Diana', 'edad':25}
coleccion.insert_one(dic4)
list(coleccion.find())

[{'_id': ObjectId('5e98fec6a359803eff02b8d8'), 'nombre': 'Juan', 'edad': 27},
 {'_id': ObjectId('5e99030aa359803eff02b8d9'), 'nombre': 'anai', 'edad': 24},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30},
 {'_id': ObjectId('5e9903a2a359803eff02b8db'), 'nombre': 'Diana', 'edad': 25}]

In [35]:
dic5 = {'nombre':'Belen', 'edad':20 }
coleccion.insert_one(dic5)
list(coleccion.find())

[{'_id': ObjectId('5e98fec6a359803eff02b8d8'), 'nombre': 'Juan', 'edad': 27},
 {'_id': ObjectId('5e99030aa359803eff02b8d9'), 'nombre': 'anai', 'edad': 24},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30},
 {'_id': ObjectId('5e9903a2a359803eff02b8db'), 'nombre': 'Diana', 'edad': 25},
 {'_id': ObjectId('5e9903fda359803eff02b8dc'), 'nombre': 'Belen', 'edad': 20}]

In [39]:
nueva_base2.list_collection_names()

['coleccion']

In [40]:
list(coleccion.find())

[{'_id': ObjectId('5e98fec6a359803eff02b8d8'), 'nombre': 'Juan', 'edad': 27},
 {'_id': ObjectId('5e99030aa359803eff02b8d9'), 'nombre': 'anai', 'edad': 24},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30},
 {'_id': ObjectId('5e9903a2a359803eff02b8db'), 'nombre': 'Diana', 'edad': 25},
 {'_id': ObjectId('5e9903fda359803eff02b8dc'), 'nombre': 'Belen', 'edad': 20}]

In [41]:
list(coleccion.find().limit(3))

[{'_id': ObjectId('5e98fec6a359803eff02b8d8'), 'nombre': 'Juan', 'edad': 27},
 {'_id': ObjectId('5e99030aa359803eff02b8d9'), 'nombre': 'anai', 'edad': 24},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30}]

In [42]:
coleccion.insert_one({'_id':1, 'nombre':'José Juan', 'edad':28})

In [46]:
list(coleccion.find())

[{'_id': ObjectId('5e98fec6a359803eff02b8d8'), 'nombre': 'Juan', 'edad': 27},
 {'_id': ObjectId('5e99030aa359803eff02b8d9'), 'nombre': 'anai', 'edad': 24},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30},
 {'_id': ObjectId('5e9903a2a359803eff02b8db'), 'nombre': 'Diana', 'edad': 25},
 {'_id': ObjectId('5e9903fda359803eff02b8dc'), 'nombre': 'Belen', 'edad': 20},
 {'_id': 1, 'nombre': 'José Juan', 'edad': 28}]

In [47]:
coleccion.insert_one({'_id':2, 'nombre':'Yona', 'edad':35})

In [48]:
list(coleccion.find())

[{'_id': ObjectId('5e98fec6a359803eff02b8d8'), 'nombre': 'Juan', 'edad': 27},
 {'_id': ObjectId('5e99030aa359803eff02b8d9'), 'nombre': 'anai', 'edad': 24},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30},
 {'_id': ObjectId('5e9903a2a359803eff02b8db'), 'nombre': 'Diana', 'edad': 25},
 {'_id': ObjectId('5e9903fda359803eff02b8dc'), 'nombre': 'Belen', 'edad': 20},
 {'_id': 1, 'nombre': 'José Juan', 'edad': 28},
 {'_id': 2, 'nombre': 'Yona', 'edad': 35}]

In [49]:
len(list(coleccion.find()))

7

In [54]:
list(coleccion.find().limit(4))

[{'_id': ObjectId('5e98fec6a359803eff02b8d8'), 'nombre': 'Juan', 'edad': 27},
 {'_id': ObjectId('5e99030aa359803eff02b8d9'), 'nombre': 'anai', 'edad': 24},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30},
 {'_id': ObjectId('5e9903a2a359803eff02b8db'), 'nombre': 'Diana', 'edad': 25}]

In [55]:
len(list(coleccion.find()))

7

In [58]:
coleccion.insert_many([
                    {'_id':3,'nombre':'Esteban', 'edad':45, 'altura':1.7},
                    {'_id':4,'nombre':'Alicia', 'edad':34, 'altura':1.5},
                    {'_id':5,'nombre':'Luz', 'edad':18, 'altura':1.65}
])

In [59]:
list(coleccion.find())

[{'_id': ObjectId('5e98fec6a359803eff02b8d8'), 'nombre': 'Juan', 'edad': 27},
 {'_id': ObjectId('5e99030aa359803eff02b8d9'), 'nombre': 'anai', 'edad': 24},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30},
 {'_id': ObjectId('5e9903a2a359803eff02b8db'), 'nombre': 'Diana', 'edad': 25},
 {'_id': ObjectId('5e9903fda359803eff02b8dc'), 'nombre': 'Belen', 'edad': 20},
 {'_id': 1, 'nombre': 'José Juan', 'edad': 28},
 {'_id': 2, 'nombre': 'Yona', 'edad': 35},
 {'_id': 3, 'nombre': 'Esteban', 'edad': 45, 'altura': 1.7},
 {'_id': 4, 'nombre': 'Alicia', 'edad': 34, 'altura': 1.5},
 {'_id': 5, 'nombre': 'Luz', 'edad': 18, 'altura': 1.65}]

In [61]:
list(coleccion.find({'edad':28}))

[{'_id': 1, 'nombre': 'José Juan', 'edad': 28}]

In [63]:
list(coleccion.find({'edad':{'$gte':30}}))

[{'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30},
 {'_id': 2, 'nombre': 'Yona', 'edad': 35},
 {'_id': 3, 'nombre': 'Esteban', 'edad': 45, 'altura': 1.7},
 {'_id': 4, 'nombre': 'Alicia', 'edad': 34, 'altura': 1.5}]

In [65]:
list(coleccion.find({'edad':{'$gte':35}}))

[{'_id': 2, 'nombre': 'Yona', 'edad': 35},
 {'_id': 3, 'nombre': 'Esteban', 'edad': 45, 'altura': 1.7}]

In [66]:
list(coleccion.find({'Edad':{'$gte':35}}))

[]

In [69]:
list(coleccion.find({'altura':{'$gte':1.51}}))

[{'_id': 3, 'nombre': 'Esteban', 'edad': 45, 'altura': 1.7},
 {'_id': 5, 'nombre': 'Luz', 'edad': 18, 'altura': 1.65}]

In [70]:
list(coleccion.find().sort('edad',-1))

[{'_id': 3, 'nombre': 'Esteban', 'edad': 45, 'altura': 1.7},
 {'_id': 2, 'nombre': 'Yona', 'edad': 35},
 {'_id': 4, 'nombre': 'Alicia', 'edad': 34, 'altura': 1.5},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30},
 {'_id': 1, 'nombre': 'José Juan', 'edad': 28},
 {'_id': ObjectId('5e98fec6a359803eff02b8d8'), 'nombre': 'Juan', 'edad': 27},
 {'_id': ObjectId('5e9903a2a359803eff02b8db'), 'nombre': 'Diana', 'edad': 25},
 {'_id': ObjectId('5e99030aa359803eff02b8d9'), 'nombre': 'anai', 'edad': 24},
 {'_id': ObjectId('5e9903fda359803eff02b8dc'), 'nombre': 'Belen', 'edad': 20},
 {'_id': 5, 'nombre': 'Luz', 'edad': 18, 'altura': 1.65}]

In [71]:
list(coleccion.find().sort('nombre',-1))

[{'_id': ObjectId('5e99030aa359803eff02b8d9'), 'nombre': 'anai', 'edad': 24},
 {'_id': 2, 'nombre': 'Yona', 'edad': 35},
 {'_id': 5, 'nombre': 'Luz', 'edad': 18, 'altura': 1.65},
 {'_id': ObjectId('5e98fec6a359803eff02b8d8'), 'nombre': 'Juan', 'edad': 27},
 {'_id': 1, 'nombre': 'José Juan', 'edad': 28},
 {'_id': 3, 'nombre': 'Esteban', 'edad': 45, 'altura': 1.7},
 {'_id': ObjectId('5e9903a2a359803eff02b8db'), 'nombre': 'Diana', 'edad': 25},
 {'_id': ObjectId('5e9903fda359803eff02b8dc'), 'nombre': 'Belen', 'edad': 20},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30},
 {'_id': 4, 'nombre': 'Alicia', 'edad': 34, 'altura': 1.5}]

In [72]:
coleccion.delete_one({'nombre':'anai'})

In [73]:
list(coleccion.find())

[{'_id': ObjectId('5e98fec6a359803eff02b8d8'), 'nombre': 'Juan', 'edad': 27},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30},
 {'_id': ObjectId('5e9903a2a359803eff02b8db'), 'nombre': 'Diana', 'edad': 25},
 {'_id': ObjectId('5e9903fda359803eff02b8dc'), 'nombre': 'Belen', 'edad': 20},
 {'_id': 1, 'nombre': 'José Juan', 'edad': 28},
 {'_id': 2, 'nombre': 'Yona', 'edad': 35},
 {'_id': 3, 'nombre': 'Esteban', 'edad': 45, 'altura': 1.7},
 {'_id': 4, 'nombre': 'Alicia', 'edad': 34, 'altura': 1.5},
 {'_id': 5, 'nombre': 'Luz', 'edad': 18, 'altura': 1.65}]

In [74]:
coleccion.insert_one({'nomre':'Anai', 'edad':24, 'altura':1.45})

In [75]:
list(coleccion.find())

[{'_id': ObjectId('5e98fec6a359803eff02b8d8'), 'nombre': 'Juan', 'edad': 27},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30},
 {'_id': ObjectId('5e9903a2a359803eff02b8db'), 'nombre': 'Diana', 'edad': 25},
 {'_id': ObjectId('5e9903fda359803eff02b8dc'), 'nombre': 'Belen', 'edad': 20},
 {'_id': 1, 'nombre': 'José Juan', 'edad': 28},
 {'_id': 2, 'nombre': 'Yona', 'edad': 35},
 {'_id': 3, 'nombre': 'Esteban', 'edad': 45, 'altura': 1.7},
 {'_id': 4, 'nombre': 'Alicia', 'edad': 34, 'altura': 1.5},
 {'_id': 5, 'nombre': 'Luz', 'edad': 18, 'altura': 1.65},
 {'_id': ObjectId('5e990c68a359803eff02b8dd'),
  'nomre': 'Anai',
  'edad': 24,
  'altura': 1.45}]

In [77]:
list(coleccion.find().sort('nombre',-1))

[{'_id': 2, 'nombre': 'Yona', 'edad': 35},
 {'_id': 5, 'nombre': 'Luz', 'edad': 18, 'altura': 1.65},
 {'_id': ObjectId('5e98fec6a359803eff02b8d8'), 'nombre': 'Juan', 'edad': 27},
 {'_id': 1, 'nombre': 'José Juan', 'edad': 28},
 {'_id': 3, 'nombre': 'Esteban', 'edad': 45, 'altura': 1.7},
 {'_id': ObjectId('5e9903a2a359803eff02b8db'), 'nombre': 'Diana', 'edad': 25},
 {'_id': ObjectId('5e9903fda359803eff02b8dc'), 'nombre': 'Belen', 'edad': 20},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30},
 {'_id': 4, 'nombre': 'Alicia', 'edad': 34, 'altura': 1.5},
 {'_id': ObjectId('5e990c68a359803eff02b8dd'),
  'nomre': 'Anai',
  'edad': 24,
  'altura': 1.45}]

In [78]:
list(coleccion.find().sort('nombre',1))

[{'_id': ObjectId('5e990c68a359803eff02b8dd'),
  'nomre': 'Anai',
  'edad': 24,
  'altura': 1.45},
 {'_id': 4, 'nombre': 'Alicia', 'edad': 34, 'altura': 1.5},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30},
 {'_id': ObjectId('5e9903fda359803eff02b8dc'), 'nombre': 'Belen', 'edad': 20},
 {'_id': ObjectId('5e9903a2a359803eff02b8db'), 'nombre': 'Diana', 'edad': 25},
 {'_id': 3, 'nombre': 'Esteban', 'edad': 45, 'altura': 1.7},
 {'_id': 1, 'nombre': 'José Juan', 'edad': 28},
 {'_id': ObjectId('5e98fec6a359803eff02b8d8'), 'nombre': 'Juan', 'edad': 27},
 {'_id': 5, 'nombre': 'Luz', 'edad': 18, 'altura': 1.65},
 {'_id': 2, 'nombre': 'Yona', 'edad': 35}]

In [79]:
list(coleccion.find().sort('nombre'))

[{'_id': ObjectId('5e990c68a359803eff02b8dd'),
  'nomre': 'Anai',
  'edad': 24,
  'altura': 1.45},
 {'_id': 4, 'nombre': 'Alicia', 'edad': 34, 'altura': 1.5},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30},
 {'_id': ObjectId('5e9903fda359803eff02b8dc'), 'nombre': 'Belen', 'edad': 20},
 {'_id': ObjectId('5e9903a2a359803eff02b8db'), 'nombre': 'Diana', 'edad': 25},
 {'_id': 3, 'nombre': 'Esteban', 'edad': 45, 'altura': 1.7},
 {'_id': 1, 'nombre': 'José Juan', 'edad': 28},
 {'_id': ObjectId('5e98fec6a359803eff02b8d8'), 'nombre': 'Juan', 'edad': 27},
 {'_id': 5, 'nombre': 'Luz', 'edad': 18, 'altura': 1.65},
 {'_id': 2, 'nombre': 'Yona', 'edad': 35}]

In [84]:
coleccion.update_one({'_id':'5e990c68a359803eff02b8dd'}, {'$set':{'_id':0}})

In [89]:
list(coleccion.find())

[{'_id': ObjectId('5e98fec6a359803eff02b8d8'), 'nombre': 'Juan', 'edad': 27},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30},
 {'_id': ObjectId('5e9903a2a359803eff02b8db'), 'nombre': 'Diana', 'edad': 25},
 {'_id': ObjectId('5e9903fda359803eff02b8dc'), 'nombre': 'Belen', 'edad': 20},
 {'_id': 1, 'nombre': 'José Juan', 'edad': 28},
 {'_id': 2, 'nombre': 'Yona', 'edad': 35},
 {'_id': 3, 'nombre': 'Esteban', 'edad': 45, 'altura': 1.7},
 {'_id': 4, 'nombre': 'Alicia', 'edad': 34, 'altura': 1.5},
 {'_id': 5, 'nombre': 'Luz', 'edad': 18, 'altura': 1.65},
 {'_id': ObjectId('5e990c68a359803eff02b8dd'),
  'nomre': 'Anai',
  'edad': 24,
  'altura': 1.45}]

In [90]:
coleccion.update_one({'nombre':'Anai'}, {'$set':{'nombre':'Argelia Anai'}})

In [91]:
list(coleccion.find())

[{'_id': ObjectId('5e98fec6a359803eff02b8d8'), 'nombre': 'Juan', 'edad': 27},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30},
 {'_id': ObjectId('5e9903a2a359803eff02b8db'), 'nombre': 'Diana', 'edad': 25},
 {'_id': ObjectId('5e9903fda359803eff02b8dc'), 'nombre': 'Belen', 'edad': 20},
 {'_id': 1, 'nombre': 'José Juan', 'edad': 28},
 {'_id': 2, 'nombre': 'Yona', 'edad': 35},
 {'_id': 3, 'nombre': 'Esteban', 'edad': 45, 'altura': 1.7},
 {'_id': 4, 'nombre': 'Alicia', 'edad': 34, 'altura': 1.5},
 {'_id': 5, 'nombre': 'Luz', 'edad': 18, 'altura': 1.65},
 {'_id': ObjectId('5e990c68a359803eff02b8dd'),
  'nomre': 'Anai',
  'edad': 24,
  'altura': 1.45}]

In [92]:
coleccion.update_one({'nombre':'Juan'}, {'$set':{'nombre':'José Juan'}})

In [93]:
list(coleccion.find())

[{'_id': ObjectId('5e98fec6a359803eff02b8d8'),
  'nombre': 'José Juan',
  'edad': 27},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30},
 {'_id': ObjectId('5e9903a2a359803eff02b8db'), 'nombre': 'Diana', 'edad': 25},
 {'_id': ObjectId('5e9903fda359803eff02b8dc'), 'nombre': 'Belen', 'edad': 20},
 {'_id': 1, 'nombre': 'José Juan', 'edad': 28},
 {'_id': 2, 'nombre': 'Yona', 'edad': 35},
 {'_id': 3, 'nombre': 'Esteban', 'edad': 45, 'altura': 1.7},
 {'_id': 4, 'nombre': 'Alicia', 'edad': 34, 'altura': 1.5},
 {'_id': 5, 'nombre': 'Luz', 'edad': 18, 'altura': 1.65},
 {'_id': ObjectId('5e990c68a359803eff02b8dd'),
  'nomre': 'Anai',
  'edad': 24,
  'altura': 1.45}]

In [94]:
coleccion.update_one({'nombre':'Anai'}, {'$set':{'nombre':'Argelia Anai'}})

In [95]:
list(coleccion.find())

[{'_id': ObjectId('5e98fec6a359803eff02b8d8'),
  'nombre': 'José Juan',
  'edad': 27},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30},
 {'_id': ObjectId('5e9903a2a359803eff02b8db'), 'nombre': 'Diana', 'edad': 25},
 {'_id': ObjectId('5e9903fda359803eff02b8dc'), 'nombre': 'Belen', 'edad': 20},
 {'_id': 1, 'nombre': 'José Juan', 'edad': 28},
 {'_id': 2, 'nombre': 'Yona', 'edad': 35},
 {'_id': 3, 'nombre': 'Esteban', 'edad': 45, 'altura': 1.7},
 {'_id': 4, 'nombre': 'Alicia', 'edad': 34, 'altura': 1.5},
 {'_id': 5, 'nombre': 'Luz', 'edad': 18, 'altura': 1.65},
 {'_id': ObjectId('5e990c68a359803eff02b8dd'),
  'nomre': 'Anai',
  'edad': 24,
  'altura': 1.45}]

In [97]:
coleccion.delete_one({'nombre':'Anai'})  # borrar un elemento

In [98]:
list(coleccion.find())

[{'_id': ObjectId('5e98fec6a359803eff02b8d8'),
  'nombre': 'José Juan',
  'edad': 27},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30},
 {'_id': ObjectId('5e9903a2a359803eff02b8db'), 'nombre': 'Diana', 'edad': 25},
 {'_id': ObjectId('5e9903fda359803eff02b8dc'), 'nombre': 'Belen', 'edad': 20},
 {'_id': 1, 'nombre': 'José Juan', 'edad': 28},
 {'_id': 2, 'nombre': 'Yona', 'edad': 35},
 {'_id': 3, 'nombre': 'Esteban', 'edad': 45, 'altura': 1.7},
 {'_id': 4, 'nombre': 'Alicia', 'edad': 34, 'altura': 1.5},
 {'_id': 5, 'nombre': 'Luz', 'edad': 18, 'altura': 1.65},
 {'_id': ObjectId('5e990c68a359803eff02b8dd'),
  'nomre': 'Anai',
  'edad': 24,
  'altura': 1.45}]

In [99]:
coleccion.delete_one({'nombre':'Anai'})  # borrar un elemento

In [100]:
coleccion.delete_one({'nombre':'Anai'})  # borrar un elemento

In [101]:
coleccion.delete_one({'nombre':'Anai'})  # borrar un elemento

In [102]:
list(coleccion.find())

[{'_id': ObjectId('5e98fec6a359803eff02b8d8'),
  'nombre': 'José Juan',
  'edad': 27},
 {'_id': ObjectId('5e99034ba359803eff02b8da'), 'nombre': 'Angel', 'edad': 30},
 {'_id': ObjectId('5e9903a2a359803eff02b8db'), 'nombre': 'Diana', 'edad': 25},
 {'_id': ObjectId('5e9903fda359803eff02b8dc'), 'nombre': 'Belen', 'edad': 20},
 {'_id': 1, 'nombre': 'José Juan', 'edad': 28},
 {'_id': 2, 'nombre': 'Yona', 'edad': 35},
 {'_id': 3, 'nombre': 'Esteban', 'edad': 45, 'altura': 1.7},
 {'_id': 4, 'nombre': 'Alicia', 'edad': 34, 'altura': 1.5},
 {'_id': 5, 'nombre': 'Luz', 'edad': 18, 'altura': 1.65},
 {'_id': ObjectId('5e990c68a359803eff02b8dd'),
  'nomre': 'Anai',
  'edad': 24,
  'altura': 1.45}]