![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [5]:
from pymongo import MongoClient
client=MongoClient()
db = client.db_companies
collection_companies = db.companies

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [15]:
list(collection_companies.find({'name':'Babelgum'},{'_id':0,'name':1}))

[{'name': 'Babelgum'}]

In [56]:
list(collection_companies.find({'name':'Babelgum'})[0])

['_id',
 'name',
 'permalink',
 'crunchbase_url',
 'homepage_url',
 'blog_url',
 'blog_feed_url',
 'twitter_username',
 'category_code',
 'number_of_employees',
 'founded_year',
 'founded_month',
 'founded_day',
 'deadpooled_year',
 'deadpooled_month',
 'deadpooled_day',
 'deadpooled_url',
 'tag_list',
 'alias_list',
 'email_address',
 'phone_number',
 'description',
 'created_at',
 'updated_at',
 'overview',
 'image',
 'products',
 'relationships',
 'competitions',
 'providerships',
 'total_money_raised',
 'funding_rounds',
 'investments',
 'acquisition',
 'acquisitions',
 'offices',
 'milestones',
 'ipo',
 'video_embeds',
 'screenshots',
 'external_links',
 'partners']

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [80]:
list(collection_companies.find({ 'number_of_employees': { '$gt': 5000 }},{'_id':0,'name':1}).sort('number_of_employees', -1).limit(20))[:5]
#.sort( { 'number_of_employees':-1 } )
#list(collection_companies.find({ 'number_of_employees': { '$gt': 5000 }}).sort({'number_of_employees':-1}))

[{'name': 'Siemens'},
 {'name': 'IBM'},
 {'name': 'Toyota'},
 {'name': 'PayPal'},
 {'name': 'Nippon Telegraph and Telephone Corporation'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [50]:
list(collection_companies.find({ 'founded_year' :{ '$gt': 1999, '$lt': 2006 }},{'_id':0,'name':1, 'founded_year':1}))[:5]

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [114]:
list(collection_companies.find({ 'founded_year' : {'$lt': 2010 }, 'ipo.valuation_amount':{'$gt': 100000000 }}, {'_id':0,'name':1, 'ipo.valuation_amount':1}))[:5]

[{'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [81]:
list(collection_companies.find({ 'founded_year' : {'$lt': 2005 }, 'number_of_employees' : {'$lt': 1000 }}, {'_id':0,'name':1, 'number_of_employees':1}).sort('number_of_employees', -1).limit(10))[:5]

[{'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'SonicWALL', 'number_of_employees': 900}]

### 6. All the companies that don't include the `partners` field.

In [78]:
list(collection_companies.find( { 'partners' : { '$exists' : False } },{'_id':0,'name':1}  ))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [65]:
list(collection_companies.find( { 'category_code' : { '$type': 'null' } },{'_id':0,'name':1} ))[:5]

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [66]:
list(collection_companies.find({ 'number_of_employees' :{ '$gt': 100, '$lt': 1000 }},{'_id':0,'name':1, 'number_of_employees':1}))[:5]

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110}]

### 9. Order all the companies by their IPO price descendently.

In [110]:
 list(collection_companies.find({}, {'_id':0,'name':1, 'ipo_price':1}))[:5]

[{'name': 'Wetpaint'},
 {'name': 'AdventNet'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [79]:
list(collection_companies.find({'number_of_employees':{ '$exists' : True }},{'_id':0,'name':1, 'number_of_employees':1}).sort('number_of_employees', -1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [82]:
list(collection_companies.find({ 'founded_month' :{ '$gt': 5, '$lt': 13 }},{'_id':0,'name':1, 'founded_month':1}).limit(10))[:5]

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'Postini', 'founded_month': 6}]

### 12. All the companies that have been 'deadpooled' after the third year.

In [115]:
#founded_year - deadpooled_year
#list(collection_companies.find({ 'founded_year' - 'deadpooled_year' :{ '$gt': 3}},{'_id':0,'name':1, 'deadpooled_year':1}))[:5]
list(collection_companies.find({ 'deadpooled_year - deadpooled_year' :{ '$gt': 3}},{'_id':0,'name':1, 'deadpooled_year':1}))[:5]

[]

### 13. All the companies founded before 2000 that have and acquisition amount of more than 10.000.000

In [116]:
#list(collection_companies.find({ 'founded_year' : {'$lt': 2000 }, 'acquisition' :{ '$elemMatch': {'price_amount': {'$gt': 10000000}}}}, {'_id':0,'name':1, 'acquisition':1}).limit(10))[:5]
list(collection_companies.find({ 'founded_year' : {'$lt': 2000 }, 'acquisition.price_amount': {'$gt': 10000000}}, {'_id':0,'name':1, 'acquisition.price_amount':1}).limit(10))[:5]

[{'name': 'Postini', 'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep', 'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar', 'acquisition': {'price_amount': 25000000}},
 {'name': 'PayPal', 'acquisition': {'price_amount': 1500000000}},
 {'name': 'Snapfish', 'acquisition': {'price_amount': 300000000}}]

### 14. All the companies that have been acquired after 2015, order by the acquisition amount, and retrieve only their `name` and `acquisiton` field.

In [132]:
#list(collection_companies.find({ 'acquisition.acquired_year' : {'$gt': 2015 }}, {'_id':0,'name':1, 'acquisition.price_amount':1}).sort('acquisition.price_amount', -1).limit(10))[:5]
list(collection_companies.find({ 'acquisition.acquired_year' : {'$gt': 2015 }}, {'_id':0,'name':1, 'acquisition.price_amount':1}).limit(10))[:5]

[]

### 15. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [122]:
list(collection_companies.find( { 'founded_year' : { '$exists' : True } },{'_id':0,'name':1, 'founded_year':1}).sort('founded_year', -1).limit(10))[:5]

[{'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013}]

### 16. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `aquisition price` descendently. Limit the search to 10 documents.

In [133]:
list(collection_companies.find( { 'founded_day' : {'$lt': 8} },{'_id':0,'name':1, 'founded_year':1}).sort('acquisition.price_amount', -1).limit(10))[:5]

[{'name': 'Netscape', 'founded_year': 1994},
 {'name': 'PayPal', 'founded_year': 1998},
 {'name': 'Zappos', 'founded_year': 1999},
 {'name': 'Alibaba', 'founded_year': 1999},
 {'name': 'Postini', 'founded_year': 1999}]

### 17. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascendant order.

In [104]:
list(collection_companies.find({'category_code':'web', 'number_of_employees' :{ '$gt': 4000 }},{'_id':0,'name':1, 'number_of_employees':1}).sort('number_of_employees', -1).limit(10))[:5]

[{'name': 'Experian', 'number_of_employees': 15500},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group', 'number_of_employees': 10000}]

### 18. All the companies which their acquisition amount is more than 10.000.000, and currency are 'EUR'.

In [134]:
list(collection_companies.find( { 'acquisition.price_amount' : {'$lt': 10000000}, 'acquisition.price_currency_code':"EUR"},{'_id':0,'name':1}).limit(10))[:5]

[{'name': 'Mobile Trend'},
 {'name': 'Citizenside'},
 {'name': 'Excite Europe'},
 {'name': 'YelloYello'},
 {'name': 'Branded Payment Solutions'}]

### 19. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [136]:
list(collection_companies.find({ 'acquisition.acquired_month' :{ '$lt': 5 }},{'_id':0,'name':1, 'acquisition.acquired_month':1}).limit(10))[:5]

[{'name': 'StumbleUpon', 'acquisition': {'acquired_month': 4}},
 {'name': 'Kyte', 'acquisition': {'acquired_month': 1}},
 {'name': 'Veoh', 'acquisition': {'acquired_month': 4}},
 {'name': 'Jingle Networks', 'acquisition': {'acquired_month': 4}},
 {'name': 'NetRatings', 'acquisition': {'acquired_month': 2}}]

### 20. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [137]:
list(collection_companies.find( { 'founded_year' : {'$lt': 1999,'$lt': 2011 }, 'acquisition.acquired_year':{'$gt': 2010 }},{'_id':0,'name':1}).limit(10))[:5]

[{'name': 'Wetpaint'},
 {'name': 'Digg'},
 {'name': 'Geni'},
 {'name': 'Kyte'},
 {'name': 'Jingle Networks'}]