#### 1. Import pandas library

In [1]:
import pandas.io.sql as psql
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import sqlalchemy as db
import pymysql as sql
import mysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
motor=create_engine('mysql+mysqlconnector://guest:relational@relational.fit.cvut.cz:3306/stats')
print ('Conectado.')

Conectado.

#### 4. Import the users table

In [4]:
data= "select * from users"
df_data= psql.read_sql(data,con=motor)
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40325 entries, 0 to 40324
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               40325 non-null  int64
 1   Reputation       40325 non-null  int64
 2   CreationDate     40325 non-null  datetime64[ns]
 3   DisplayName      40325 non-null  object
 4   LastAccessDate   40325 non-null  datetime64[ns]
 5   WebsiteUrl       8121 non-null   object
 6   Location         11691 non-null  object
 7   AboutMe          9379 non-null   object
 8   Views            40325 non-null  int64
 9   UpVotes          40325 non-null  int64
 10  DownVotes        40325 non-null  int64
 11  AccountId        40325 non-null  int64
 12  Age              8318 non-null   float64
 13  ProfileImageUrl  16479 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(6), object(5)
memory usage: 4.3+ MB

#### 5. Rename Id column to userId

In [7]:
df_data.rename(columns = {"Id":"userId"}, inplace = True) 
df_data["userId"]

0           -1
1            2
2            3
3            4
4            5
         ...
40320    55743
40321    55744
40322    55745
40323    55746
40324    55747
Name: userId, Length: 40325, dtype: int64

#### 6. Import the posts table.

In [6]:
data2= "select * from posts"
df_data2= psql.read_sql(data2,con=motor)
df_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91976 entries, 0 to 91975
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     91976 non-null  int64
 1   PostTypeId             91976 non-null  int64
 2   AcceptedAnswerId       14700 non-null  float64
 3   CreaionDate            91976 non-null  datetime64[ns]
 4   Score                  91976 non-null  int64
 5   ViewCount              42921 non-null  float64
 6   Body                   91756 non-null  object
 7   OwnerUserId            90584 non-null  float64
 8   LasActivityDate        91976 non-null  datetime64[ns]
 9   Title                  42921 non-null  object
 10  Tags                   42921 non-null  object
 11  AnswerCount            42921 non-null  float64
 12  CommentCount           91976 non-null  int64
 13  FavoriteCount          13246 non-null  float64
 14  LastEditorUserId       44611 non-null  float64
 15  LastEditDate           45038 non-null  datetime64[ns]
 16  CommunityOwnedDate     2467 non-null   datetime64[ns]
 17  ParentId               47755 non-null  float64
 18  ClosedDate             1610 non-null   datetime64[ns]
 19  OwnerDisplayName       2509 non-null   object
 20  LastEditorDisplayName  465 non-null    object
dtypes: datetime64[ns](5), float64(7), int64(4), object(5)
memory usage: 14.7+ MB

#### 7. Rename Id column to postId and OwnerUserId to userId

In [8]:
df_data2.rename(columns = {"Id" :"postId"}, inplace = True) 
df_data2.rename(columns = {"OwnerUserId":"userId"}, inplace = True) 
df_data2[["postId","userId"]]

       postId   userId
0           1      8.0
1           2     24.0
2           3     18.0
3           4     23.0
4           5     23.0
...       ...      ...
91971  115374    805.0
91972  115375  49365.0
91973  115376  55746.0
91974  115377    805.0
91975  115378   7250.0

[91976 rows x 2 columns]

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [10]:
dfuser=df_data.copy()
dfuser

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,None,None,None,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,None,None,None,1,0,0,5026998,NaN,None
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,None,United States,None,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,None,None,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,None,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

In [11]:
dfposts=df_data2.copy()
dfposts

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91971,115374,2,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",805.0,2014-09-14 02:05:41,None,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaT,115367.0,NaT,None,None
91972,115375,1,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,49365.0,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91973,115376,1,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,55746.0,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaT,NaN,NaT,None,None
91974,115377,2,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,805.0,2014-09-14 02:54:13,None,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaT,115358.0,NaT,None,None
91975,115378,2,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250.0,2014-09-14 02:09:23,None,...,NaN,0,NaN,NaN,NaT,NaT,115375.0,NaT,None,None

In [12]:
dfuser[["userId", "Reputation","Views","UpVotes","DownVotes"]]

       userId  Reputation  Views  UpVotes  DownVotes
0          -1           1      0     5007       1920
1           2         101     25        3          0
2           3         101     22       19          0
3           4         101     11        0          0
4           5        6792   1145      662          5
...       ...         ...    ...      ...        ...
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0

[40325 rows x 5 columns]

In [13]:
dfposts[["postId", "Score","userId","ViewCount","CommentCount"]]

       postId  Score   userId  ViewCount  CommentCount
0           1     23      8.0     1278.0             1
1           2     22     24.0     8198.0             1
2           3     54     18.0     3613.0             4
3           4     13     23.0     5224.0             2
4           5     81     23.0        NaN             3
...       ...    ...      ...        ...           ...
91971  115374      2    805.0        NaN             2
91972  115375      0  49365.0        9.0             0
91973  115376      1  55746.0        5.0             2
91974  115377      0    805.0        NaN             0
91975  115378      0   7250.0        NaN             0

[91976 rows x 5 columns]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [16]:
df3=dfuser.merge(dfposts, left_on="userId", right_on="userId")

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [19]:
mval=df3.isna().sum()
mval[mval>0]

WebsiteUrl               58513
Location                 50132
AboutMe                  48900
Age                      63780
ProfileImageUrl          66521
AcceptedAnswerId         76021
ViewCount                48396
Body                       220
Title                    48396
Tags                     48396
AnswerCount              48396
FavoriteCount            77605
LastEditorUserId         46456
LastEditDate             46228
CommunityOwnedDate       88197
ParentId                 43484
ClosedDate               89024
OwnerDisplayName         89463
LastEditorDisplayName    90335
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [27]:
df3["Body"]=df3["Body"].fillna(0) #Llene estos elementos con cero ya que eran muy pocos y no necesitaban ser boorados
df3.Body

0        <p><strong>CrossValidated</strong> is for stat...
1                                                        0
2                                                        0
3        <p>"Statistics" can refer variously to the (wi...
4        This generic tag is only rarely suitable; use ...
                               ...
90579    <p>For example, I was looking at <a href="http...
90580    <p>Is Student's t test a Wald test?</p>\n\n<p>...
90581    <p>Does any standard statistical software like...
90582    <p>im analyzing an article for my studies with...
90583    <p>My goal is to create a formula that can giv...
Name: Body, Length: 90584, dtype: object

In [24]:
df3[["WebsiteUrl",            
"Location",                
"AboutMe",                 
"Age" ,                    
"ProfileImageUrl" ,         
"AcceptedAnswerId" ,        
"ViewCount",               
"Title" ,                   
"Tags",                     
"AnswerCount",             
"FavoriteCount" ,           
"LastEditorUserId" ,        
"LastEditDate" ,            
"CommunityOwnedDate" ,      
"ParentId" ,               
"ClosedDate",               
"OwnerDisplayName" ,       
"LastEditorDisplayName"]]

,WebsiteUrl,Location,AboutMe,Age,ProfileImageUrl,AcceptedAnswerId,ViewCount,Title,Tags,AnswerCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",NaN,None,NaN,NaN,None,None,NaN,NaN,-1.0,2014-04-23 13:43:43,NaT,NaN,NaT,None,None
1,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",NaN,None,NaN,NaN,None,None,NaN,NaN,-1.0,2011-03-21 17:40:28,NaT,NaN,NaT,None,None
2,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",NaN,None,NaN,NaN,None,None,NaN,NaN,-1.0,2011-03-21 17:46:43,NaT,NaN,NaT,None,None
3,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",NaN,None,NaN,NaN,None,None,NaN,NaN,919.0,2011-03-30 19:23:14,NaT,NaN,NaT,None,None
4,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",NaN,None,NaN,NaN,None,None,NaN,NaN,919.0,2011-03-30 19:23:14,NaT,NaN,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90579,None,None,None,NaN,None,NaN,16.0,Is there a way to estimate the distribution fr...,<regression><probability><distributions><corre...,1.0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90580,None,None,None,NaN,None,NaN,40.0,Is Student's t test a Wald test?,<hypothesis-testing><t-test>,0.0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90581,None,None,None,NaN,None,NaN,17.0,Missing data analysis software,<estimation><dataset><missing-data><software>,1.0,1.0,NaN,NaT,NaT,NaN,NaT,None,None
90582,None,None,None,NaN,None,NaN,13.0,Poisson regression,<regression><poisson>,0.0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90583,None,None,"<p>Stats noobie, product, marketing &amp; medi...",NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...,NaN,5.0,How to project video viewcount based on histor...,<summary-statistics><median><eviews>,0.0,NaN,7290.0,2014-09-14 01:40:55,NaT,NaN,NaT,None,None

In [25]:
df3["Age"]=df3["Age"].fillna(0) #Llene con ceros ya que el ratio de edad al checar diferentes paginas puede ser buena info para vender ciertos productos a ciertas personas dependiendo de su edad
df3.Age

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
90579    0.0
90580    0.0
90581    0.0
90582    0.0
90583    0.0
Name: Age, Length: 90584, dtype: float64

In [31]:
import numpy as np
low_var=[]

for c in df3._get_numeric_data():  # selecciona columnas numericas
    
    minimo=min(df3[c])
    per_90=np.percentile(df3[c], 90)
    
    if per_90==minimo:
        low_var.append(c)
low_var

[]

In [34]:
df3=df3.drop_duplicates()"OwnerDisplayName","LastEditorDisplayName","CommunityOwnedDate","FavoriteCount","ProfileImageUrl","AcceptedAnswerId"

In [37]:
df3=df3.drop("ClosedDate",axis=1)

KeyError: "['ClosedDate'] not found in axis"

In [38]:
mval=df3.isna().sum()
mval[mval>0]

WebsiteUrl               58513
Location                 50132
AboutMe                  48900
ProfileImageUrl          66521
AcceptedAnswerId         76021
ViewCount                48396
Title                    48396
Tags                     48396
AnswerCount              48396
FavoriteCount            77605
LastEditorUserId         46456
LastEditDate             46228
CommunityOwnedDate       88197
ParentId                 43484
OwnerDisplayName         89463
LastEditorDisplayName    90335
dtype: int64

In [40]:
drop_cols = list(mval[mval > 50000].index)
df3 = df3.drop(drop_cols, axis=1) #Borre estas columnas ya que representaban mas de la mitad de los datos obtenidos

In [41]:
mval=df3.isna().sum()
mval[mval>0]

AboutMe             48900
ViewCount           48396
Title               48396
Tags                48396
AnswerCount         48396
LastEditorUserId    46456
LastEditDate        46228
ParentId            43484
dtype: int64

In [42]:
df3[["AboutMe",             
"ViewCount",           
"Title",               
"Tags",                
"AnswerCount",         
"LastEditorUserId",    
"LastEditDate",        
"ParentId" ]]

,AboutMe,ViewCount,Title,Tags,AnswerCount,LastEditorUserId,LastEditDate,ParentId
0,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",NaN,None,None,NaN,-1.0,2014-04-23 13:43:43,NaN
1,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",NaN,None,None,NaN,-1.0,2011-03-21 17:40:28,NaN
2,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",NaN,None,None,NaN,-1.0,2011-03-21 17:46:43,NaN
3,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",NaN,None,None,NaN,919.0,2011-03-30 19:23:14,NaN
4,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",NaN,None,None,NaN,919.0,2011-03-30 19:23:14,NaN
...,...,...,...,...,...,...,...,...
90579,None,16.0,Is there a way to estimate the distribution fr...,<regression><probability><distributions><corre...,1.0,NaN,NaT,NaN
90580,None,40.0,Is Student's t test a Wald test?,<hypothesis-testing><t-test>,0.0,NaN,NaT,NaN
90581,None,17.0,Missing data analysis software,<estimation><dataset><missing-data><software>,1.0,NaN,NaT,NaN
90582,None,13.0,Poisson regression,<regression><poisson>,0.0,NaN,NaT,NaN
90583,"<p>Stats noobie, product, marketing &amp; medi...",5.0,How to project video viewcount based on histor...,<summary-statistics><median><eviews>,0.0,7290.0,2014-09-14 01:40:55,NaN

In [44]:
df3["ViewCount"]=df3["ViewCount"].fillna("Unkown") #Llene estos elementos con unkown ya que no sabemos las veces que vieron el sitio
df3.ViewCount

0        Unkown
1        Unkown
2        Unkown
3        Unkown
4        Unkown
          ...
90579        16
90580        40
90581        17
90582        13
90583         5
Name: ViewCount, Length: 90584, dtype: object

In [45]:
df3["AnswerCount"]=df3["AnswerCount"].fillna(0) #Llene estos elementos con cero ya que no hubo respuesta
df3.AnswerCount

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
90579    1.0
90580    0.0
90581    1.0
90582    0.0
90583    0.0
Name: AnswerCount, Length: 90584, dtype: float64

In [46]:
mval=df3.isna().sum()
mval[mval>0]

AboutMe             48900
Title               48396
Tags                48396
LastEditorUserId    46456
LastEditDate        46228
ParentId            43484
dtype: int64

In [48]:
df3["AboutMe"]=df3["AboutMe"].fillna("No description")
df3.AnswerCount

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
90579    1.0
90580    0.0
90581    1.0
90582    0.0
90583    0.0
Name: AnswerCount, Length: 90584, dtype: float64

In [51]:
df3["Title"]=df3["Title"].fillna("Unkown")
df3.Title

0                                                   Unkown
1                                                   Unkown
2                                                   Unkown
3                                                   Unkown
4                                                   Unkown
                               ...
90579    Is there a way to estimate the distribution fr...
90580                     Is Student's t test a Wald test?
90581                       Missing data analysis software
90582                                   Poisson regression
90583    How to project video viewcount based on histor...
Name: Title, Length: 90584, dtype: object

In [52]:
df3["Tags"]=df3["Tags"].fillna("No tag")
df3.Tags

0                                                   No tag
1                                                   No tag
2                                                   No tag
3                                                   No tag
4                                                   No tag
                               ...
90579    <regression><probability><distributions><corre...
90580                         <hypothesis-testing><t-test>
90581        <estimation><dataset><missing-data><software>
90582                                <regression><poisson>
90583                 <summary-statistics><median><eviews>
Name: Tags, Length: 90584, dtype: object

In [54]:
remo= df3[["LastEditorUserId",    
"LastEditDate",        
"ParentId"]]
df3 = df3.drop(remo, axis=1)

KeyError: "None of [Index(['LastEditorUserId', 'LastEditDate', 'ParentId'], dtype='object')] are in the [columns]"

In [55]:
mval=df3.isna().sum()
mval[mval>0]

Series([], dtype: int64)

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [56]:
df3.dtypes

userId                      int64
Reputation                  int64
CreationDate       datetime64[ns]
DisplayName                object
LastAccessDate     datetime64[ns]
AboutMe                    object
Views                       int64
UpVotes                     int64
DownVotes                   int64
AccountId                   int64
Age                       float64
postId                      int64
PostTypeId                  int64
CreaionDate        datetime64[ns]
Score                       int64
ViewCount                  object
Body                       object
LasActivityDate    datetime64[ns]
Title                      object
Tags                       object
AnswerCount               float64
CommentCount                int64
dtype: object

In [64]:
df3["Age"] = df3["Age"].astype(int)#La unica que necesitaba un cambio era Age porque era un float y no se puede tener edades a medias
df3["Age"].dtype

dtype('int64')

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [65]:
outliers = df3.copy()

In [66]:
low_var=[]

for c in outliers._get_numeric_data():  # selecciona columnas numericas
    
    minimo=min(outliers[c])
    per_90=np.percentile(outliers[c], 90)
    
    if per_90==minimo:
        low_var.append(c)
low_var

[]

In [67]:
stats=outliers.describe().T

stats['IQR']=stats['75%']-stats['25%']

stats.head()

,count,mean,std,min,25%,50%,75%,max,IQR
userId,90584.0,16546.764727,15273.367108,-1.0,3437.0,11032.0,27700.00,55746.0,24263.00
Reputation,90584.0,6282.395412,15102.268670,1.0,60.0,396.0,4460.00,87393.0,4400.00
Views,90584.0,1034.245176,2880.074012,0.0,5.0,45.0,514.25,20932.0,509.25
UpVotes,90584.0,734.315718,2050.869327,0.0,1.0,22.0,283.00,11442.0,282.00
DownVotes,90584.0,33.273249,134.936435,0.0,0.0,0.0,8.00,1920.0,8.00