Pandas Project - Global Shark Attacks

In [4]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
from datetime import date

In [5]:
#df = pd.read_csv("attacks.csv") #open CVS, first try had an encode problem
df = pd.read_csv("attacks.csv", encoding='latin-1')

df.head() #to start exploring the df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [6]:
df.info() #to check the types of data of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [7]:
df['Unnamed: 22'].unique() #comfirming unique values

array([nan, 'stopped here'], dtype=object)

In [8]:
# Changing Nan values to Unknown
df[['Unnamed: 22']]= df[['Unnamed: 22']].fillna('Unknown')

In [9]:
# Changing Nan values to Unknown
df[['Unnamed: 23']]= df[['Unnamed: 23']].fillna('Unknown')

In [10]:
#df['Case Number'].isna() #exploring Nan values

In [11]:
df.tail() #exploring Nan values

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown

In [12]:
df1=df.copy() #Security copy: por aquello de no te enfries

In [13]:
df.drop(df.index[6302:25723], inplace = True) #To delete Unnecesary rows with no data.
#df.dropna(thresh=10) other method to drop rows

In [14]:
df['Case Number'].unique() #identifiying elements to clean

array(['2018.06.25', '2018.06.18', '2018.06.09', ..., 'ND.0003',
       'ND.0002', 'ND.0001'], dtype=object)

In [15]:
#df.loc[(df['Case Number'] == 'ND.0001'),'Case Number']='Unknow date' #renaming values

In [16]:
#df[‘Case Number’].str.startswith(‘ND’)=‘Unknow date’
#df['Case Number'].apply(lambda x: re.sub('ND\w+', 'Unknow date', x))

In [17]:
#df['Case Number'] = df['Case Number'].astype(str)

In [18]:
#df['Case Number'].apply(lambda x: re.sub('ND\w+', 'Unknow date', x))

In [19]:
#df['Case Number'].str.startswith('ND')='Unknow date'

In [20]:
#df.replace({'Case Number': r'^ND.$'}, {'Case Number': 'Unkown'}, regex=True, inplace=True)

In [21]:
#df['Case Number'].unique()

In [22]:
df[['Year']]= df[['Year']].fillna('Unknown') #Changing NA values
df[['Type']]= df[['Type']].fillna('Unknown reason') #Changing NA values
df[['Country']]= df[['Country']].fillna('Unknown area') #Changing NA values

In [23]:
null_cols = df.isnull().sum() #checking for other null and related values 
null_cols[null_cols>0]

Case Number                  1
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
href formula                 1
dtype: int64

In [24]:
null_displ = df[(df['Location'].isnull()==True)] #checking null values related with Location
null_displ = null_displ[['Location', 'Activity', 'Name', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Investigator or Source', 'href formula']]
#null_displ

In [25]:
df[['Location']] = df[['Location']].fillna("Unknow Location") #changing null values

In [26]:
df[['Time']] = df[['Time']].fillna("Unknow Time") #changing null values

In [27]:
df[['Age']] = df[['Age']].fillna("Age") #changing null values

In [28]:
null_cols = df.isnull().sum() #checking for other null and related values 
null_cols[null_cols>0]

Case Number                  1
Area                       455
Activity                   544
Name                       210
Sex                        565
Injury                      28
Fatal (Y/N)                539
Species                   2838
Investigator or Source      17
href formula                 1
dtype: int64

In [29]:
null_displ = df[(df['Area'].isnull()==True)] #checking null values related with Location
null_displ = null_displ[['Activity', 'Name','Injury', 'Fatal (Y/N)', 'Investigator or Source', 'href formula']]
#null_displ

In [30]:
df[['Activity', 'Name', 'Investigator or Source', 'href formula']] = df[['Activity', 'Name', 'Investigator or Source', 'href formula']].fillna("Not specified") #changing null values in multiple columns

In [31]:
df[['Area', 'Injury']] = df[['Area', 'Injury']].fillna("Not specified") #changing null values in multiple columns

In [32]:
df[['Fatal (Y/N)']] = df[['Fatal (Y/N)']].fillna("Unknow") #changing null values

In [33]:
null_cols = df.isnull().sum() #checking for other null and related values 
null_cols[null_cols>0]

Case Number       1
Sex             565
Species        2838
dtype: int64

In [34]:
df.columns = df.columns.to_series().apply(lambda x: x.strip()) #fixing the columns names

In [35]:
df[['Sex', 'Species']] = df[['Sex', 'Species']].fillna("Not specified") #changing null values in multiple columns

In [36]:
df["Year"].replace({0: "Time Frame"}, inplace=True) #changing the column year 0 to specify a time frame

In [37]:
pd.set_option('display.max_columns', None) #to show all the columns 
pd.set_option("display.max_rows", None)

In [38]:
df['Date'].unique()

array(['25-Jun-2018', '18-Jun-2018', '09-Jun-2018', ..., '1900-1905',
       '1883-1889', '1845-1853'], dtype=object)

In [39]:
#Replacing very specific dates
df["Date"].replace({'Last incident of 1994 in Hong Kong': 1994}, inplace=True)
df["Date"].replace({'1954 (same day as 1954.00.00.f)': 1954}, inplace=True)
df["Date"].replace({'Mar-1949 or Apr-1949': 'Between Mar & Apr'}, inplace=True)
df["Date"].replace({'Some time between 08-Jan-1928 & 21-Jan-1928': 'Between 08-Jan & 21-Jan'}, inplace=True)
df["Date"].replace({'1899 During the Seige of Ladysmith': '1899'}, inplace=True)

In [40]:
df['Date']=df['Date'].str.replace('Reported ', '')
df['Date']=df['Date'].str.replace('Ca. ', '')
df['Date']=df['Date'].str.replace('.b', '')
df['Date']=df['Date'].str.replace('.a', '')
df['Date']=df['Date'].str.replace(' to have happened "on the weekend"', '')
df['Date']=df['Date'].str.replace('Reported', '')
df['Date']=df['Date'].str.replace(' (same day as 1954.00.00.f)', '')
df['Date']=df['Date'].str.replace('\n1951.12.15.R', '15-Dec-1951')
df['Date']=df['Date'].str.replace('"Bitten last weekend', '')
df['Date']=df['Date'].str.replace('"Some time b', 'B')
df['Date']=df['Date'].str.replace('Woirld War II', '1939')
df['Date']=df['Date'].str.replace('to have taken place in ', '1919')
df['Date']=df['Date'].str.replace('Reportd ', '')
df['Date']=df['Date'].str.replace('(probably happened Ca. 1843/1844)', '')
df['Date']=df['Date'].str.replace('Reprted ', '')
#df['Date']=df['Date'].str.replace(' (?)', '') #somehow didn't work
df['Date']=df['Date'].str.replace('"Anniversary Day" 22-Jan-1850 or 1852', '22-Jan-1852')
df['Date']=df['Date'].str.replace('.R', '')
#df['Date']=df['Date'].str.replace('.00.', '') #deletes somes years between 1000 and 2000
df['Date']=df['Date'].str.replace('24-Oct-1888,ut took pceround 1868', '24-Oct-1868')
df['Date']=df['Date'].str.replace('(prly ppened 1843/1844)', '')
df['Date']=df['Date'].str.replace('(soonfter the close of the Snish-Amerin r)', '')
df['Date']=df['Date'].str.replace('to ve ken pce in ', '')
df['Date']=df['Date'].str.replace('Some timeetween ', 'Between')
df['Date']=df['Date'].str.replace('(me ys 195400.f)', '')

In [41]:
df.loc[187,'Year']=2017 #changing specific dates in Year
df.loc[6079,'Year']=1836

In [42]:
df['Type']=df['Type'].str.replace('Invalid', 'Unknown') #fixing ambiguous values
df['Type']=df['Type'].str.replace('Questionable', 'Unknown')
df['Country']=df['Country'].str.replace('MEXICO ', 'MEXICO')
df['Country']=df['Country'].str.replace('OKINAWA', 'JAPAN')
df['Country']=df['Country'].str.replace('Usa', 'USA')
df['Country']=df['Country'].str.replace('Sudan?', 'Sudan')
df['Country']=df['Country'].str.replace('United Arab Emirates (Uae)', 'United Arab Emirates (UAE)')
df["Country"]= df["Country"].str.upper().str.title() #fixing country names as titles

In [43]:
df.rename(columns={'Country': 'Region'}, inplace=True) 
#changing the name of the column to reflect a region and not only countries

In [44]:
#fixing all uncodified area names 
df['Area']=df['Area'].str.replace('M�laga ', 'Malaga')
df['Area']=df['Area'].str.replace('C�te', 'Cote')
df['Area']=df['Area'].str.replace('Kh�nh H�a', 'Khanh Hoa province')
df['Area']=df['Area'].str.replace('Sal�', 'Sale')
df['Area']=df['Area'].str.replace('C�diz', 'Cadiz')
df['Area']=df['Area'].str.replace('Andr�s', 'Andres')
df['Area']=df['Area'].str.replace('Castell�n', 'Castellon')
df['Area']=df['Area'].str.replace('Cort�s', 'Cortes')
df['Area']=df['Area'].str.replace('Balne�rio Cambori�', 'Balnerio Camboriu')
df['Area']=df['Area'].str.replace('35�39 : 165�8', 'Unknown')
df['Area']=df['Area'].str.replace('Col�n', 'Colon')
df['Area']=df['Area'].str.replace('Maranh�o', 'Maranhao')
df['Area']=df['Area'].str.replace('10�S, 142�E', 'Unknown')
df['Area']=df['Area'].str.replace('Vava�u', 'Vavau')
df['Area']=df['Area'].str.replace('d��', 'D ')
df['Area']=df['Area'].str.replace('Conservat�ria', 'Conservatoria')
df['Area']=df['Area'].str.replace('Saint-Beno�t', 'Saint-Benoit')
df['Area']=df['Area'].str.replace('Saman�', 'Saman')
df['Area']=df['Area'].str.replace('Ma�shur', 'Ma\'shur')
df['Area']=df['Area'].str.replace('Lim�n', 'Limon')
df['Area']=df['Area'].str.replace('22�N, 88�E', 'Unknown')

In [45]:
#fixing location names 
df['Location']=df['Location'].str.replace('Mar�', 'Mar')
df['Location']=df['Location'].str.replace('Caba�a ', 'Cabana')
df['Location']=df['Location'].str.replace('Coff�s Harbor', 'Coffs Harbor')
df['Location']=df['Location'].str.replace('Jeffrey�s', 'Jeffrey\'s')
df['Location']=df['Location'].str.replace('�Southern Wharf�', 'Southern Wharf')
df['Location']=df['Location'].str.replace('Mark�s', 'Mark\'s')
df['Location']=df['Location'].str.replace('St. Thom�', 'St. Thomas')
df['Location']=df['Location'].str.replace('Gordon�s Bay', 'Gordon\'s Bay')
df['Location']=df['Location'].str.replace('Ouv�a', 'Ouv\'a')
df['Location']=df['Location'].str.replace('36�17\'N\,  126�31\'E', 'Unknown')
df['Location']=df['Location'].str.replace('George�s', 'George\'s')
df['Location']=df['Location'].str.replace('Ca�o', 'Ca\'s')
df['Location']=df['Location'].str.replace('C�diz', 'Cadiz')
df['Location']=df['Location'].str.replace('Poindimi�', 'Poindimie')
df['Location']=df['Location'].str.replace('Trench�s', 'Trench\'s')
df['Location']=df['Location'].str.replace('Fisherman�s', 'Fisherman\'s')
df['Location']=df['Location'].str.replace('Dumb�a', 'Dumb a')
df['Location']=df['Location'].str.replace('Anstey�s', 'Anstey\'s')
df['Location']=df['Location'].str.replace('Scott�s', 'Scott\'s')
df['Location']=df['Location'].str.replace('S�nchez', 'Sanchez')
df['Location']=df['Location'].str.replace('C�rdenas', 'Cardenas')
df['Location']=df['Location'].str.replace('Shaka�s', 'Shaka\'s')
df['Location']=df['Location'].str.replace('Shipwreck�s', 'Shipwreck\'s')
df['Location']=df['Location'].str.replace('S�o', 'S\'o')
df['Location']=df['Location'].str.replace('Monta�a', 'Montana')
df['Location']=df['Location'].str.replace('�gua', 'Agua')
df['Location']=df['Location'].str.replace('Ka�anapali', 'Kaanapali')
df['Location']=df['Location'].str.replace('Sewell�s', 'Sewell\'s')
df['Location']=df['Location'].str.replace('Barand�a', 'Veranda Beach')
df['Location']=df['Location'].str.replace('Nelson�s', 'Nelson\'s')
df['Location']=df['Location'].str.replace('Moku�auia', 'Mokuauia')
df['Location']=df['Location'].str.replace('Maha�ulepu', 'Mahaulepu')
df['Location']=df['Location'].str.replace('Brown�s', 'Brown\'s')
df['Location']=df['Location'].str.replace('�le', 'Le')
df['Location']=df['Location'].str.replace('Campbell�s', 'Campbell\'s')
df['Location']=df['Location'].str.replace('Ah� Atoll', 'Ah Atoll')
df['Location']=df['Location'].str.replace('d�Empuries', 'd\'Empuries')
df['Location']=df['Location'].str.replace('L�Escala', 'L\'Escala')
df['Location']=df['Location'].str.replace('Boca de la Le�a', 'Boca de la Le\'a')
df['Location']=df['Location'].str.replace('Uni�n', 'Union')
df['Location']=df['Location'].str.replace('V?ng T�u', 'Unknown')
df['Location']=df['Location'].str.replace('G�ldar', 'G ldar')
df['Location']=df['Location'].str.replace('Yorkey�s', 'Yorkey\'s')
df['Location']=df['Location'].str.replace('Her�y', 'Herry') 
df['Location']=df['Location'].str.replace('Reef�', 'Reef')
df['Location']=df['Location'].str.replace('Petite-�le', 'Le Petite')
df['Location']=df['Location'].str.replace('Jaboat�o', 'Jaboato')
df['Location']=df['Location'].str.replace('Woodman�s', 'Woodman\'s')
df['Location']=df['Location'].str.replace('22�08\'S  : 178�06\'W', 'Unknown')
df['Location']=df['Location'].str.replace('Black�s', 'Black\'s')
df['Location']=df['Location'].str.replace('Wiseman�s', 'Wiseman\'s')
df['Location']=df['Location'].str.replace('Hadrian�s', 'Hadrian\'s')
df['Location']=df['Location'].str.replace('Kama�ole', 'Kamaole')                                  
df['Location']=df['Location'].str.replace('Tu�anuku', 'Tu\'anuku')
df['Location']=df['Location'].str.replace('Vetch�s', 'Vetch\'s')                                  
df['Location']=df['Location'].str.replace('Pawley�s', 'Pawley\'s')                                  
df['Location']=df['Location'].str.replace('Lambert�s', 'Lambert\'s')                                  
df['Location']=df['Location'].str.replace('Sha�ab', 'Shaab')
df['Location']=df['Location'].str.replace('Smith�s', 'Smith\'s')                                  
df['Location']=df['Location'].str.replace('One week out of P�pete', 'Unknown')                                  
df['Location']=df['Location'].str.replace('Macei�', 'Macei')                                  
df['Location']=df['Location'].str.replace('Ye?ilk�y', 'Unknown')
df['Location']=df['Location'].str.replace('Sj�strand', 'Sj\'strand')                                  
df['Location']=df['Location'].str.replace('Gay�s', 'Gay\'s')                                   
df['Location']=df['Location'].str.replace('King�s', 'King\'s')                                  
df['Location']=df['Location'].str.replace('Pawley�s', 'Pawley\'s')
df['Location']=df['Location'].str.replace('Ile Yand� (between Poum and B�lep)', 'Ile Yand')                                  
df['Location']=df['Location'].str.replace('C�te', 'Cote')                                   
df['Location']=df['Location'].str.replace('Noum�a', 'Nouma')                                  
df['Location']=df['Location'].str.replace('Lev�que', 'Lev\'que')
df['Location']=df['Location'].str.replace('� mile offshore & 9 miles north of Fort Pierce', 'Fort Pierce')                                  
df['Location']=df['Location'].str.replace('Saua�uhy', 'Sauauhy')                                   
df['Location']=df['Location'].str.replace('Saua�uhy', 'Sauauhy')                                  
df['Location']=df['Location'].str.replace('Nu�ulua', 'Nuulua')
df['Location']=df['Location'].str.replace('Mo�?eni?ka', 'Moscenicka')                                  
df['Location']=df['Location'].str.replace('Hy�res', 'Unknown')                                   
df['Location']=df['Location'].str.replace('Florida Keys 25�N,82�W', 'Florida Keys')                                  
df['Location']=df['Location'].str.replace('Col�n', 'Colon')
df['Location']=df['Location'].str.replace('Lind�ralique', 'Linda ralique')                                  
df['Location']=df['Location'].str.replace('Hiengh�ne', 'Unknown')
df['Location']=df['Location'].str.replace('Mazatl�n', 'Mazatlan')
df['Location']=df['Location'].str.replace('Ye?ilk�y', 'Unknown')
df['Location']=df['Location'].str.replace('10 miles west of Walker�s Cay', 'Walker\'s Cay')
df['Location']=df['Location'].str.replace('Mo�?eni?ka', 'Unknown')
df['Location']=df['Location'].str.replace('Bull�s', 'Bull\'s')
df['Location']=df['Location'].str.replace('Quinn�s', 'Quinn\'s')
df['Location']=df['Location'].str.replace('Itamarac�', 'Itamarac')
df['Location']=df['Location'].str.replace('Oah�u', 'Oah\'u')
df['Location']=df['Location'].str.replace('Granny�s', 'Granny\'s')
df['Location']=df['Location'].str.replace('Miller�s', 'Miller\'s')
df['Location']=df['Location'].str.replace('d�en', 'd\'en')
df['Location']=df['Location'].str.replace('In Los Angeles � Honolulu yacht race', 'Los Angeles')                                          
df['Location']=df['Location'].str.replace('Left break at the �Hot Spot� at Sheringa Beach', 'Sheringa Beach')
df['Location']=df['Location'].str.replace('Barber�s', 'Barber\'s')
df['Location']=df['Location'].str.replace('Vall�e', 'Valle')                                          
df['Location']=df['Location'].str.replace('O�ahu', 'O\'ahu')
df['Location']=df['Location'].str.replace('Balne�rio Cambori�', 'Balneario Camboriu')
df['Location']=df['Location'].str.replace('Ilh�us', 'Ilhus')                                          
df['Location']=df['Location'].str.replace('Gor�e', 'Goree')                                          
df['Location']=df['Location'].str.replace('B�zios', 'Bazios')
df['Location']=df['Location'].str.replace('Ka�eleki�I', 'Ka\'eleki\'i')                                          
df['Location']=df['Location'].str.replace('Kidd�s', 'Kidd\'s')                                          
df['Location']=df['Location'].str.replace('Le�n', 'Leon')
df['Location']=df['Location'].str.replace('Grey�s', 'Grey\'s')                                          
df['Location']=df['Location'].str.replace(' 8�N, 79�W', '')                                          
df['Location']=df['Location'].str.replace('Bohusl�n', 'Bohuslan')
df['Location']=df['Location'].str.replace('Bakurk�y', 'Bakurk\'y')                                          
df['Location']=df['Location'].str.replace('�tang', 'tang')                                          
df['Location']=df['Location'].str.replace('Simon�s', 'Simon\'s') 
df['Location']=df['Location'].str.replace('Yand�', 'Yand')   
df['Location']=df['Location'].str.replace('Martin�s', 'Martin\'s')                                          
df['Location']=df['Location'].str.replace('Fuller�s', 'Fuller\'s')                                          
df['Location']=df['Location'].str.replace('College�s', 'College\'s')                                          
df['Location']=df['Location'].str.replace('cimeti�re', 'cimetire')                                          
df['Location']=df['Location'].str.replace('K�rkira', 'K\'rkira')                                          
df['Location']=df['Location'].str.replace('la�Marine', 'la Marine')

In [46]:
#Fixing Activity names
df['Activity']=df['Activity'].str.replace('38�', '38')
df['Activity']=df['Activity'].str.replace('Agust�n', 'Aguston')
df['Activity']=df['Activity'].str.replace('netter�s', 'netter\'s')
df['Activity']=df['Activity'].str.replace('Ide�s', 'Ide\'s')
df['Activity']=df['Activity'].str.replace('shark�s', 'shark\'s')
df['Activity']=df['Activity'].str.replace('restaurant�s', 'restaurant\'s')
df['Activity']=df['Activity'].str.replace('Onda�s', 'Onda\'s')
df['Activity']=df['Activity'].str.replace('p�cheur', 'p\'cheur')
df['Activity']=df['Activity'].str.replace('�shark-back riding�', 'shark-back riding')
df['Activity']=df['Activity'].str.replace('�swallowed�', 'swallowed')
df['Activity']=df['Activity'].str.replace('didn�t', 'didn\'t')
df['Activity']=df['Activity'].str.replace('5�', '5"')
df['Activity']=df['Activity'].str.replace(' � ', '')

In [47]:
#Fixing "sex" column with only 3 options
df['Sex']=df['Sex'].str.replace('.', 'Not Specified')
df['Sex']=df['Sex'].str.replace('lli', 'Not Specified')
df['Sex']=df['Sex'].str.replace('M ', 'M')
#df['Sex']=df['Sex'].str.replace('N', 'null')
#df['Sex']=df['Sex'].str.replace('NULLOT SPECIFIED', 'Not Specified')
df.loc[4938,'Sex']='NOT SPECIFIED'
df.loc[6131,'Sex']='NOT SPECIFIED'
df["Sex"]= df["Sex"].str.upper().str.title() 

#df['Sex']=df['Sex'].str.replace('null', 'Not Specified')
#df['Sex']=df['Sex'].str.replace('Not Specifiedot specified', 'Not Specified')

In [48]:
#changing the name of the column to reflect a time frame and not age
#df.rename(columns={'Age': 'Time Frame'}, inplace=True) 
#df.rename(columns={'Time': 'Duplicated TF'}, inplace=True)

In [49]:
#Fixing not related time frame comments
df['Age']=df['Age'].str.replace('� ', 'Unknown')
df['Age']=df['Age'].str.replace('FATAL  (Wire netting installed at local beaches after this incident.)', 'Unknown')

In [50]:
#Fixing injury unnecessary terms and other misspells 
#df['Injury']=df['Injury'].str.replace('FATAL,', '')
#df['Injury']=df['Injury'].str.replace('FATAL', '')
df['Injury']=df['Injury'].str.replace(' PROVOKED INCIDENT', '')
df['Injury']=df['Injury'].str.replace('PROVOKED ACCIDENT', '')
df['Injury']=df['Injury'].str.replace('Barber�s', 'Barber\'s')
df['Injury']=df['Injury'].str.replace('�forequarter amputation�', 'forequarter amputation')
df['Injury']=df['Injury'].str.replace('�shoal', 'shoal')
df['Injury']=df['Injury'].str.replace('PROVOKED INCIDENT        ', '')
df['Injury']=df['Injury'].str.replace('Uhlbrecht�s', 'Uhlbrecht\'s')
df['Injury']=df['Injury'].str.replace('�Put hand through hatch, shark nearly bit off thumb�', 'Put hand through hatch, shark nearly bit off thumb')
df['Injury']=df['Injury'].str.replace('�huge shark�', 'huge shark')
df['Injury']=df['Injury'].str.replace('Baker�s', 'Baker\'s')
df['Injury']=df['Injury'].str.replace('boat�s', 'boat\'s')
df['Injury']=df['Injury'].str.replace('�deep hole�', 'deep hole')
df['Injury']=df['Injury'].str.replace('�presumed taken by a shark�', 'presumed taken by a shark')
df['Injury']=df['Injury'].str.replace('Lev�que', 'Levque')
df['Injury']=df['Injury'].str.replace('tubar�o', 'tubaro')
df['Injury']=df['Injury'].str.replace('Shark�s', 'Shark\'s')
df['Injury']=df['Injury'].str.replace('PROVOKED INCIDENT', '')
df['Injury']=df['Injury'].str.replace('man�s', 'man\'s')
df['Injury']=df['Injury'].str.replace('�gummy�', 'gummy')
df['Injury']=df['Injury'].str.replace('Sharks�s', 'Shark\'s')
df['Injury']=df['Injury'].str.replace('Jeppsen�s', 'Jeppsen\'s')
df['Injury']=df['Injury'].str.replace('diver�s', 'diver\'s')

In [51]:
#Fixing Fatal options to only 2
df["Fatal (Y/N)"]=df["Fatal (Y/N)"].str.upper()
df['Fatal (Y/N)']=df['Fatal (Y/N)'].str.replace('M', 'N')
df['Fatal (Y/N)']=df['Fatal (Y/N)'].str.replace('2017', 'N')
df['Fatal (Y/N)']=df['Fatal (Y/N)'].str.replace('UNKNOWN', 'N')
df['Fatal (Y/N)']=df['Fatal (Y/N)'].str.replace('UNKNOW', 'N')
df["Fatal (Y/N)"]=df["Fatal (Y/N)"].str.upper()
df['Fatal (Y/N)']=df['Fatal (Y/N)'].str.replace('N ', 'N')
df['Fatal (Y/N)']=df['Fatal (Y/N)'].str.replace(' N', 'N')

In [52]:
#function to clean species v1.0
'''def clean_species(entry):
    if isinstance(entry, float) or (len(entry.split(" ")) == 1):
        return "Not identified"
    else:
        species = entry.split(' ')
        s = " ".join([species[i] for i in range(len(species)-1) if species[i+1] == 'shark' or species[i+1] == 'shark,'])
        if len(s) < 3:
            return "Not identified"
        else:
            return s'''

'def clean_species(entry):\n    if isinstance(entry, float) or (len(entry.split(" ")) == 1):\n        return "Not identified"\n    else:\n        species = entry.split(\' \')\n        s = " ".join([species[i] for i in range(len(species)-1) if species[i+1] == \'shark\' or species[i+1] == \'shark,\'])\n        if len(s) < 3:\n            return "Not identified"\n        else:\n            return s'

In [53]:
# clenaing function
def clean_species(entry):
    if isinstance(entry, float) or (len(entry.split(" ")) == 1):
        return "Not identified"
    else:
        species = entry.split(' ')
        s = " ".join([species[i] for i in range(len(species)-1) if species[i+1] == 'shark' or species[i+1] == 'shark,'])
        if len(s) < 3:
            return "Not identified"
        elif ord(s[0].lower()) not in range(ord('a'), ord('z')):
            return "Not identified"
        else:
            return s

In [54]:
#Cleaning species column
df['Species']=df['Species'].apply(clean_species)

In [55]:
#fixing name syntax
df["Name"]= df["Name"].str.upper().str.title()

In [56]:
#fixing column name
df.rename(columns={'Case Number.2': 'Case Month'}, inplace=True)

In [57]:
#fixing case month to show the month of the incidents
df['Case Month'] = pd.to_datetime(df.Date, errors='coerce')
df['Case Month'] = pd.DatetimeIndex(df['Case Month']).month
df['Case Month']=df['Case Month'].replace('NaN', 'Unknown')
df[['Case Month']]= df[['Case Month']].fillna('Unknown')

/usr/local/lib/python3.7/site-packages/dateutil/parser/_parser.py:1218: UnknownTimezoneWarning: tzname D identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [58]:
df['Time']=df['Time'].str.replace('h', ':')
#df['Time'] = df['Time'].astype(int)
df['Time']=df['Time'].replace(to_replace ='\D', value = '', regex = True) 
df[['Time']]= df[['Time']].fillna('Unknown')
#df['Time']=df['Time'][df['Time'].str.len() <5]

In [59]:
list(df['Activity'].unique())

['Paddling',
 'Standing',
 'Surfing',
 'Free diving',
 'Kite surfing',
 'Swimming',
 'Fishing',
 'Walking',
 'Feeding sharks',
 'Boogie boarding',
 'Scuba diving',
 'Paddle-skiing',
 'Body boarding',
 'Windsurfing',
 'Stand-Up Paddleboarding',
 'Wading',
 'Scuba Diving',
 'Kayak fishing for sharks',
 'Cleaning fish',
 'Snorkeling',
 'Spearfishing',
 'Not specified',
 'Diving',
 'Fishing / Wading',
 '2 boats capsized',
 'Night bathing',
 'Surfing ',
 'Kayaking / Fishing',
 'Kayaking',
 'Body surfing',
 'Swimming, poaching abalone',
 'Canoeing',
 'SUP',
 'Skimboarding',
 'Touching a shark',
 'Fishing ',
 'Attempting to lasso a shark',
 'Photo shoot',
 'Paddle boarding',
 'Kakaying',
 'Washing hands',
 'Grabbing shark for a selfie',
 'Kayak fishing',
 'Tagging sharks',
 'Surf skiing ',
 'Surf fishing',
 'Floating',
 'Cage Diving',
 'Surfng',
 'SUP Foil boarding',
 'Lobstering',
 'Fishing in Alabama Deep Fishing Rodeo',
 'Fishing for squid',
 'Fishing for sharks',
 'Floating in tube',
 'Teasing a shark',
 'Surf-skiing',
 'Diving for beche-de-mer',
 'Feeding stingrays?',
 'Kayak Fishing',
 'Sea disaster',
 'Lobster fishing',
 'Swimming / Wading',
 'Fishing for shrimp',
 'Photographing fish',
 'Scallop diving on hookah',
 'Treading water',
 'Body boarding ',
 'Playing in the water',
 'Body Boarding',
 'Body surfing?',
 'Playing',
 'Attempting to rescue a shark',
 'Photographing the shark',
 'Standing / Snorkeling',
 'Hand feeding sharks',
 'Sitting in the water',
 'Transatlantic Rowing',
 'Bodysurfing',
 'Rowing',
 'Shark fishing',
 'Surfing & filming dolphins',
 'Filming',
 'Swimming after falling overboard',
 'Diving / Filming',
 'Fishing for blue sharks',
 'Standing in inner tube',
 'Body surfing or Boogie boarding',
 'Kayaking ',
 'Feeding fish',
 'Playing with an air mattress',
 'Kite boarding',
 'Shark diving',
 'Petting a shark',
 'Kneeling in the water',
 'Fell into the water',
 'Shark watching',
 'Diving for lobsters',
 'Kite Surfing',
 'Scuba diving / culling lionfish',
 'Kitesurfing',
 'Sailing',
 'Spearfishing / Free diving',
 'Free diving / Photographing pilot whales',
 'Filming a documentary',
 'Attempting to remove fishing net from submerged object',
 'Kiteboarding',
 'Diving for crayfish',
 'Diving ',
 'Swimming / snorkeling',
 'Diving for Abalone',
 'Casting a net',
 'Marathon swimming',
 'Longline fishing for sharks',
 'Wrangling a shark',
 'Attempting to free the shark',
 'Walking in surf',
 'Swimming ',
 'Swimming & snorkeling',
 'Boogie Boarding',
 'Playing in the surf',
 'Fly fishing',
 "Fishing - 'tag & release'",
 'Swimming to shore with floatioon devices after boat engine conked out',
 'Dragging stranded shark into deeper water',
 'Bathing',
 'Bodyboarding',
 'Swimming or boogie boarding',
 'Wading or swimming',
 'Free diving ',
 'Attempting to rescue an injured & beached shark',
 'Free diving / spearfishing',
 'Crayfishing',
 'Diving, feeding sharks',
 'Attempting to Kite surf from Egypt to Saudi Arabia',
 'Fishing (illegally)',
 'Diving, photographing sharks',
 'Wade fishing',
 'Jumping in the waves',
 'Wade Fishing',
 'Standing, collecting sea stars',
 'Floating ',
 'Swimming or Snorkeling',
 'Kayaking or Wave skiing',
 'Jet skiing',
 'Standing or boogie boardin',
 'Kite Boarding',
 'Washing sand off a speared fish',
 'Standing, holding shark pup',
 'Diving / fishing',
 'Wakeboarding',
 'Diving for abalone',
 'Shark fishing on the Ricardo Astorga',
 'Shark fishing on the Don Agustín-VI. ',
 'Attempting to fix motor',
 'Swimming /  Whale Watching',
 'Swimming after boat became disabled',
 'Rescuing',
 'Measuring sharks',
 'Swimming / treading water',
 'Surf fishing / wading',
 'Spearfishing (free diving)',
 'Paddling on kneeboard',
 'Swimming to shore from capsized kayak',
 'Paddle-boarding',
 'Swimming, attempting to rescue a girl  believed to be drowning',
 'Washing his feet',
 'Paddle-surfing',
 'Crawling',
 'Diving, but on the surface when bitten by the shark',
 'Air Disaster',
 'Crabbing',
 'Yacht race',
 'Sinking of the cargo ship Mark Jason',
 'Fishing boat swamped in storm',
 'Swimming, towing surfboard',
 'Swimming or surfing',
 'Rowing an inflatable dinghy',
 'Sea Disaster',
 'Night diving',
 'Free-diving',
 'Walking out of the water after surfing',
 'Fishing from surfski',
 "Accidentally stood on hooked shark's tail before attempting to gut it ",
 'Attempting to chase shark out to sea',
 'Fishing for snapper',
 'Removing fish from a trap',
 'The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas ',
 'Wading?',
 'Jumping',
 'Floating near boat & observing bioluminesce',
 'Jumped into the water',
 'Surf paddling',
 'Murder',
 'Removing hook from shark',
 'Reviving a sedated shark',
 'Shark tagging',
 'Swimming / jumping off a jetty',
 'Playing on a sandbar',
 'Shrimping',
 'Swimming / Body Surfing',
 'Playing soccer in the water',
 'Free diving / modeling',
 'Diving / Kissing the shark',
 'Lifesaving drill',
 'Touching sharks',
 'Competing in the Woodvale Atlantic Rowing Race',
 'Night Surfing',
 'Standing / Surfing',
 'Treading water/ Surfing',
 'Removing shark from net',
 'Boogie boarding, kicked at object in the water',
 'Scuba diving in aquarium tank',
 'Holding onto an inflatable boat',
 'Swimming with boogie board',
 'Spearfishing (Free diving)',
 "Crouching in 2' of water",
 'SCUBA Diving',
 'Diving in aquarium display tank',
 'Attempting to drive shark away from sailing regatta',
 'Fishing from a kayak',
 'Swept out to sea by the tsunami, she clung  to a log for 24 hours',
 'Scurfing (surfboard being  towed behind a boat)',
 'Chumming for white sharks',
 'Spearfishing/ filming',
 'Diving & fishing with net',
 'Wading / fishing & carrying a bag of fish',
 'Fishing for squid aboard the trawler Shikishima-Maru when the shark leapt into the boat',
 'In water with diving seabirds',
 'Swimming, poaching perlemoen',
 'Boogie-boarding / swimming',
 'Free diving & spearfishing',
 'Tandem surfing',
 'Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water',
 'Surf skiing',
 'Kayaking (returning from spearfishing)',
 'Air disaster. Flash Airlines Boeing 737 crashed into the Red Sea',
 'Swimming / shipwreck',
 'Surfing amid a shoal of sharks',
 'Swimming to shore from boat or kayak',
 'Sitting on surfboard',
 'Wading near a fishing net',
 'Wading to shore from his boat',
 'Standing, stepped on shark',
 'Wade-fishing',
 'Swimming, wearing black wetsuit & swim fins',
 'Walking, carrying surfboard & stepped on shark',
 'Swimming with pod of dolphins',
 'Killing  sharks',
 'Swimming (using a float)',
 'Petting captive sharks',
 'Unknown',
 "Fishing, standing in 2' of water",
 'Fishing from Surfboard',
 'Boogie boarding or Surfing',
 'Wading, when he stepped on the shark',
 'Shark Fishing',
 'Attempting to retreive a dinghy',
 'Snorkeling (filming the sardine run)',
 'Floating on a raft',
 'Fishing, removing the shark from his line',
 'Playing in the surf with his 2 dogs',
 'Collecting beche-de-mer',
 'Fishing from prawn trawler',
 'Scallop diving (using surface-supplied air & a POD) ',
 'Fishing (Drowned 2-Apr-2002)',
 'Surfing, but standing in water alongside board',
 'Body-boarding',
 'Swimming /  boogie boarding',
 'Capsized fishing boat',
 'Kite-Boarding',
 'Surfing, fell off surfboard & stepped on the shark.',
 'Wreck / Technical diving',
 'Walking in shallows',
 'Fell off banana boat',
 'Floating face-down in knee-deep water',
 'Hiking on the beach',
 'Spearfishing, carrying his catch',
 'Standing alongside surfboard',
 'Batin',
 'Attempting to catch a crocodile',
 "Sinking of the 40' Esperanza off St. Maartin with 36 refugees on board",
 'Fishing for whiting',
 'Swimming back from anchored sailboat',
 'Diving for sea urchins',
 'Diving (shell maintenance)',
 'Shipwrecked',
 'Fell onto dead shark',
 'Standing / surfing',
 'Swimming / Body surfing',
 'Conducting research',
 'Swimming out to porpoises ',
 'Windsurfing, but sitting on his board',
 'Surfing / Wading',
 'Attempting to illegally enter the USA',
 'Spearfishing, holding mesh bag with speared fish',
 'Air Disaster - Piper aircraft crashed into the sea, killing all on board',
 'Boogie boarding / wading',
 'Feeding prawns to captive sharks',
 'Canoe with 3 men onboard sank',
 'Fishing for tarpon',
 'Surfing (sitting on his board)',
 'Spearfishing, but swimming at surface',
 'Surfing, lying on surfboard',
 'Wading to shore after surfing',
 'Wading with surfboard',
 "Lying prone in 2' of water",
 'Spearfishing & holding catch',
 'Swimming with dolphins',
 'Wading in school of baitfish',
 'Adrift in a life jacket',
 'Splashing / wading',
 'Swimming after being swept into sea by a large wave',
 'Spearfishing & diving for paua',
 "Scientific research (Dr. Sonny Gruber's student)",
 'Swimming, towing a kayak',
 'Body surfing or body boarding',
 'Swimming near pod of whales',
 'Cruising',
 'Paddle Skiing',
 'Inflatable boat',
 'Splashing',
 'Fishing for tuna',
 'Fishing / washing bait off hands',
 'Moving a shark in a net ',
 'Surfing (or body boarding)',
 'Free diving for abalone',
 'Swimming / surfing',
 'Towing rubber dinghy',
 'Surfing (lying prone on his board)',
 'Snorkeling \x96 hunting crayfish and abalone',
 'Swimming or paddle boarding',
 'Spearfishing on scuba & transferring fish onto a stringer',
 'Scuba diving (submerged riding a scooter)',
 'Body boarding or surfing',
 'Fishingat',
 'Walking / surfing',
 'SCUBA diving',
 'Floating on raft',
 'Wading / Surfing',
 'Fishing for octopus',
 'Spearfishing / night diving',
 'Body surfing, stood up on sandbar',
 'Rowing ',
 'Watching seals',
 'Attempting to attract dolphins',
 'Swimming or snorkeling',
 'Surfing / Swimming',
 'Free diving with a pod of dolphins',
 'Tech diving ',
 'Shell Diving',
 'Swimming breast stoke',
 'Fishing in knee-deep water',
 'Dived naked into the water on a bet',
 'Swimming in fish tank',
 'Boeing 757 enroute from Porta Plata plunged into the sea',
 'Swimming with mask & snorkel',
 'Chumming for sharks',
 'Diving, gathering shellfish',
 'Fell off aircraft carrier',
 'Playing / standing',
 'Abalone diving using Hookah (near calving whales)',
 'Abalone diving using Hookah (resting on the surface)',
 'On a float',
 '"Riding waves on a board"',
 'Jumped off surfboard & landed on the shark',
 'Scuba diving (ascending using scooter)',
 'Playing / jumping',
 'Sleeping in anchored boat',
 'Scuba diving for bivalves',
 'Wind surfing',
 'Surfing, sitting on board',
 'Murder victim',
 'Commercial diver (submerged or treading water)',
 'Surfing, paddling seawards',
 'Adrift on refugee raft',
 'Jumped off rocks into white water',
 'Freediving for seashells',
 'Swimming alongside NOAA research vessel Discoverer',
 'Removing shark from tank in nightclub ',
 'Swimming, after falling off towed kneeboard',
 'Playing volleyball with friends',
 'Hookah diving',
 'Surfing, paddling shorewards',
 'Stamding',
 'Watching the shark feeding on a dead pinniped',
 'Riding floatation device',
 'Free diving for abalone (ascending)',
 'Fishing for lobsters',
 'Oyster fishing',
 'Paddling on surfboard or body board',
 'Scuba diving at seal colony',
 'Floating on his back',
 'Paddling on surfboard',
 'Free diving & spearfishing (ascending)',
 '   ',
 'Standing in waist-deep water, helping his father tend a gill net containing dead fish',
 'Lying on surfboard',
 'Spearfishing / free diving',
 'Scuba diving (submerged)',
 'Hookah diving for sea urchins',
 'Snorkeling, carrying a speared fish in her hand',
 'Fell from cliff while fishing & disappeared in strong current',
 'Fisherman',
 "Zosimo & his son, Jeffrey Popa, failed to return from overnight fishing trip in a 14' boat, Boat apparently sank, debris recovered but his son & boat were never found",
 'Preparing to fish for jack-mackerel',
 'Scuba diving ',
 'Scuba diving & filming',
 'Hookah diving for pen shells ',
 'Fishing for yellowtail, Seriola quinqueradiata',
 'Diving for pen shells',
 'Fishing from rocks, swept out to sea by large wave & treading water',
 'Finning the shark that bit him',
 'Swimming from makeshift raft  to life vest after fishing boat sank',
 'Swimming behind sailboat',
 'Surfing, collided with shark',
 'Surfing (or sailboarding)',
 'Scuba diving (but on surface)',
 'Free diving / spearfishing, from paddleboard & floating on the surface',
 'Snorkeling, possibly holding a fish',
 'Resting on surfboard',
 'Lying on surfboard & paddling',
 'Free diving for trochus',
 'Scuba diving & spearfishing',
 'Board sailing',
 "On board 51' fishing vessel One Ki",
 'Wading, knocked down & swept away by large waves',
 'Swimming in canal',
 "Fishing, stepped on hooked shark's head",
 'Observing a shark feeding on a carcass of a humpback whale',
 'Hookah diving for abalone (descending)',
 "Filming 5' blue shark",
 'Playing ',
 "Fell off surfboard 20' from shore",
 'Windsurfing (urinating on his board)',
 'Scuba diving, but swimming on surface',
 'Swimming in strong current with 3 others when he disappeared',
 'Surfing with dolphins',
 'Scuba diving, hand feeding sharks',
 'Spearfishing using scuba & trailing a string of bleeding fish',
 'Skindiving',
 'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy',
 'The MV Dona Marilyn sank in Typhoon Unsang with the loss of 389 lives',
 "Diving in Sharkey's Reef restaurant\x92s aquarium",
 'Free diving & spearfishing ',
 'Spearfishing on scuba',
 'Sittting in water with his child',
 'Shell diving',
 'Surfing / treading water',
 'pêcheur de bichiques',
 "Onboard 21' powerboat that capsized in rough seas",
 'Standing ',
 'Lying atop surfboard',
 'Drift fishing',
 'Fell overboard  from the Taiwanese fishing trawler Lien Cheng Feu ',
 "Attempting to lasso shark's tail",
 'Returning to shore, collided with shark',
 'Ferry boat Dona Paz with 4431 passengers exploded & caught fire when she collided with an  oil tanker ',
 'Vessel caught fire & capsized, survivors in the water',
 'Scuba Diving for scallops',
 'Dropping anchor',
 'Swimming from shore to anchored sailboat',
 'The inter-island ferry Vula sank in heavy weather',
 'Jumped into the water from a cliff',
 'Boat',
 'Adrift after ditching plane in the sea',
 'Free diving  & spearfishing (submerged)',
 'NSB Meshing',
 'Racing ski',
 'Fishing, fell from rocks & disappeared',
 'Hookah diving for abalone',
 'Floating on inner tube after diving for lobster',
 'Free diving & spearfishing (descending)',
 'Bottom fishing for lingcod & had hooked a fish',
 'Playing in knee-deep water',
 'Surfing, but lying prone on his board',
 'Free diving for scallops',
 'Scuba Diving for lobster (at surface)',
 'Investigating shark sighting',
 'Sailing on catamaran & fell into the water',
 'Surfing or body surfing',
 'Free diving , but surfacing',
 'Boat capsized?',
 'Sea disaster, foundering of the cargo vessle M/V Dorolonda',
 "During a shark fishing tournament, the 18' Boatem was capsized by waves, throwing 3 men into the water ",
 'Towing her sister on plastic ski board',
 'Steinhart Aquarium',
 'Scuba diving for abalone',
 'Ferry boat sank',
 'Swimming from the New Venture ',
 '14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water',
 'Floating on air mattress',
 'Surfing & dangling foot in water amid baitfish',
 'Water-skiing',
 'Paddleskiing',
 'Ran into the water',
 'In waist-deep water',
 'Free diving for abalone from Zodiac (submerged)',
 'Paddle Boarding',
 'Spearfishing ',
 'Sailboarding, fell into water 100 yards outside the breakwater',
 'Fishing on a boat',
 'Spearfishing, but swimming on surface',
 'Inspecting teeth of supposedly dead (hooked & shot) shark',
 "Diving to untangle a crab trap line from boat's propeller",
 "16' catamaran capsized previous night, occupants stayed with wreckage until morning, then attempted to swim ashore",
 'Snorkeling on surface',
 'Catching sardines',
 'Scuba diving, reportedly also spearfishing',
 'Foundering of the Israeli freighter Mezada',
 'Standing / Wading',
 'Free diving Spearfishing',
 'Exercising his dog in the shallows',
 'Commercial spearfishing',
 'Free diving / spearfishing, ',
 'Diving in tuna net',
 'Resting on body board',
 'Skin diving',
 'Sinking of the ferryboat Don Juan',
 'Sinking of the ferryboat Bongbong 1',
 'Hookah Diving',
 'Gaffing netted shark',
 'Freedom swimming',
 'Murdered by Thai pirates',
 'Floating with life preserver after his boat foundered',
 'Floating on inner tube raft',
 "Explosion destroyed 28' boat, survivors in the water ",
 'Fishing for mackerel',
 'Swimming, after single-engine aircraft went down in the sea',
 'Fishing for bottom fish',
 'Floating on an inflatable raft',
 'Free diving for abalone (surfacing)',
 "40' fishing boat sank",
 'Spearfishing / Scuba diving',
 'Collecting fish from net',
 'Fishing for yellowtail',
 'Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days',
 "Pushed surfmat of a young girl out of the shark's path, drawing shark's attention to his own board",
 'Hookah diving for abalone (submerged)',
 'Thrashing the water / imitating the shark victim from "Jaws"',
 'Fishing for white shark',
 'Shipwreck',
 'Skindiving,',
 '3,909-ton Panamanian freighter Chieh Lee sank in a typhoon',
 'Surfing, fell off surfboard',
 "Sitting in bow of her father's 5 m boat",
 'Competing in a light tackle game fishing',
 'Fishing for snoek & yellowtail',
 'Spearfishing / scuba diving',
 'Attempting to drive shark away from the beach',
 'Filming & feeding captive sharks',
 'Floating on a small orange raft ',
 'Scuba diving for abalone (at surface)',
 'Swimming near his boat',
 'Spearfishing Competition',
 'Floating in inner tube',
 'Diving & force-feeding the shark',
 'Attempting to drag hooked shark ashore by its tail',
 'Ferry capsized',
 'Swimming underwater from crayfish cage to a fishing bait',
 '3.3 m fishing boat sank. Treveluwe & Peter Hodgson (wearing lifejackets) were drifting in the current',
 'Freedom Swimming',
 'Free diving for abalone (submerged)',
 'Adrift after the sinking of the motor yacht Princess Dianne',
 'Free diving (but on surface)',
 'Fishing boat swamped in a storm',
 'Fishing for kob',
 'Fishing for red fish',
 'Sitting',
 'Swimming alongside yacht Mexico Fiesta',
 'Being pulled to shore from wreck of 25-ton fishing vessel Alan S',
 'Free diving, Spearfishing',
 'Crabbing (spearing crabs)',
 'Fishing from paddleski',
 'Scuba diving & U/W photography',
 'Sitting in shallows',
 'Free diving, collecting shells',
 'Scuba diving & feeding fish',
 'Hookah diving (submerged)',
 'Wreck of the 1689-ton Portuguese  coaster Angoche',
 'Fishing for prawns',
 'Sea Disaster Sinking of ferryboat Christina',
 'Motor launch Baby Princesa capsized with 22 people on board',
 'Freediving',
 'Air disaster',
 'Attempted to return injured shark to the sea',
 'Spearfishing / freediving',
 'Washing cooking pans',
 'Washing clothes on stairs',
 'Fishing, trying to catch the end of his fishing line',
 'Scuba diving for lobsters',
 'Freediving for abalone (at surface)',
 'Surf-fishing',
 'Netting pilchards',
 'Hard hat diving',
 'Sight-seeing',
 'Feeding mullet to sharks',
 'Wreck of the Storm King',
 'Spearfishing using Scuba',
 'Sinking of the ferryboat Dumaguete ',
 'Playing with a frisbee in the shallows',
 'Leaving the water',
 'Dynamite fishing',
 'Small boat with 2 men onboard hit a submerged coral formation. Men began swimming to shore',
 'Clamming',
 'Schooner sank during a storm',
 'Diving. Shark \x93swallowed\x92 his hand, so he threw his other around the shark and went \x93shark-back riding\x94 for 30 yards until the shark opened its jaws',
 'Wading & pushing dinghy toward  the shallows',
 'Picking up shark by the tail',
 'Swimming after his canoe capsized',
 'Sinking of the M/V Mindoro during a typhoon',
 'Standing on sandbar',
 "Boat capsized between O'ahu & Molokai",
 'Pulling shark from the water',

In [60]:
#df.filter(["href formula", "Yona, repetida"])

In [61]:
df.rename(columns={'href': 'Yona, repetida'}, inplace=True)

In [64]:
#df.to_csv('attacks_clean_file.csv')

In [66]:
df.rename(columns={'pdf': 'PDF', 'href formula': 'HREF','original order': 'Original Order'}, inplace=True)

In [68]:
df.to_csv('attacks_clean_file.csv')