# Exploring data

In [1]:
import pandas as pd
import pymongo
from pymongo import MongoClient
from tqdm import tqdm
from tqdm import trange
import folium
from folium import plugins
import numpy as np
import warnings
warnings.simplefilter('ignore')
import re
import pickle
from opencage.geocoder import OpenCageGeocode

In [2]:
#creating the Mongo conection
cliente=MongoClient('mongodb://localhost:27017')
db = cliente.companies
col = db.companies

In [3]:
cole = col.find({})
data = pd.DataFrame(cole)
data.head()

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,52cdef7c4bab8bd675297d8a,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,...,"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,52cdef7c4bab8bd675297d8b,AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,...,"[{'description': 'Headquarters', 'address1': '...",[],[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],NaN,NaN,NaN,NaN
2,52cdef7c4bab8bd675297d8c,Zoho,abc4,http://www.crunchbase.com/company/zoho,http://zoho.com,http://blogs.zoho.com/,http://blogs.zoho.com/feed,zoho,software,1600.0,...,"[{'description': 'Headquarters', 'address1': '...","[{'id': 388, 'description': 'Zoho Reaches 2 Mi...","[{'embed_code': '<object width=""430"" height=""2...",[],[{'external_url': 'http://www.online-tech-tips...,[],NaN,NaN,NaN,NaN
3,52cdef7c4bab8bd675297d8d,Digg,digg,http://www.crunchbase.com/company/digg,http://www.digg.com,http://blog.digg.com/,http://blog.digg.com/?feed=rss2,digg,news,60.0,...,"[{'description': None, 'address1': '135 Missis...","[{'id': 9588, 'description': 'Another Digg Exe...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[117, 150], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[],NaN,NaN,None,None
4,52cdef7c4bab8bd675297d8e,Facebook,facebook,http://www.crunchbase.com/company/facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299.0,...,"[{'description': 'Headquarters', 'address1': '...","[{'id': 108, 'description': 'Facebook adds com...",[],"[{'available_sizes': [[[150, 68], 'assets/imag...",[{'external_url': 'http://latimesblogs.latimes...,[],NaN,NaN,,"{'valuation_amount': 104000000000, 'valuation_..."

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18801 entries, 0 to 18800
Data columns (total 42 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   _id                  18801 non-null  object
 1   name                 18801 non-null  object
 2   permalink            18801 non-null  object
 3   crunchbase_url       18801 non-null  object
 4   homepage_url         16895 non-null  object
 5   blog_url             16890 non-null  object
 6   blog_feed_url        16757 non-null  object
 7   twitter_username     11383 non-null  object
 8   category_code        16050 non-null  object
 9   number_of_employees  8889 non-null   float64
 10  founded_year         13136 non-null  float64
 11  founded_month        7898 non-null   float64
 12  founded_day          5569 non-null   float64
 13  deadpooled_year      929 non-null    float64
 14  tag_list             14748 non-null  object
 15  alias_list           8932 non-null   object
 16  email_address        16793 non-null  object
 17  phone_number         16778 non-null  object
 18  description          12360 non-null  object
 19  created_at           18801 non-null  object
 20  updated_at           18801 non-null  object
 21  overview             16820 non-null  object
 22  image                16175 non-null  object
 23  products             18801 non-null  object
 24  relationships        18801 non-null  object
 25  competitions         18801 non-null  object
 26  providerships        18801 non-null  object
 27  total_money_raised   18801 non-null  object
 28  funding_rounds       18801 non-null  object
 29  investments          18801 non-null  object
 30  acquisition          2677 non-null   object
 31  acquisitions         18801 non-null  object
 32  offices              18801 non-null  object
 33  milestones           18801 non-null  object
 34  video_embeds         18801 non-null  object
 35  screenshots          18801 non-null  object
 36  external_links       18801 non-null  object
 37  partners             18801 non-null  object
 38  deadpooled_month     765 non-null    float64
 39  deadpooled_day       648 non-null    float64
 40  deadpooled_url       1079 non-null   object
 41  ipo                  390 non-null    object
dtypes: float64(7), object(35)
memory usage: 6.0+ MB

# Step 1
#### Define client type: as I mentioned in the README ,they want to be sorrounded with Small and Medium Business, they want to have a coffee shop nearby and they want to be in San Diego California

# Step 2. 
#### Correctly query the data I want.

In [5]:
#Selecting only the ones that have offices and do not have deadpool year
cole = col.find({'offices': {'$not': {'$size':0}},
                'deadpooled_year':{'$type':'null'}},
                {'_id':0 ,'name':1,'category_code':1,'number_of_employees':1,
                 'offices':1,'founded_year':1,'deadpooled_year':1,'total_money_raised':1})
data = pd.DataFrame(cole)
data.head()

,name,category_code,number_of_employees,founded_year,deadpooled_year,total_money_raised,offices
0,Digg,news,60.0,2004.0,None,$45M,"[{'description': None, 'address1': '135 Missis..."
1,Facebook,social,5299.0,2004.0,None,$2.43B,"[{'description': 'Headquarters', 'address1': '..."
2,Postini,web,NaN,1999.0,None,$0,"[{'description': None, 'address1': '959 Skyway..."
3,Geni,web,18.0,2006.0,None,$16.5M,"[{'description': 'Headquarters', 'address1': '..."
4,Flektor,games_video,NaN,NaN,None,$0,"[{'description': None, 'address1': '8536 Natio..."

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12957 entries, 0 to 12956
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 12957 non-null  object
 1   category_code        12310 non-null  object
 2   number_of_employees  7039 non-null   float64
 3   founded_year         10630 non-null  float64
 4   deadpooled_year      0 non-null      object
 5   total_money_raised   12957 non-null  object
 6   offices              12957 non-null  object
dtypes: float64(2), object(5)
memory usage: 708.7+ KB

In [7]:
data.shape

(12957, 7)

# Step 3
#### Transforming data according to client needs

In [8]:
#Generate a list with dataframes with office information.
#adding a column with name, total employees, category and number of offices

lista_df=[] 

for i in tqdm(range(len(data.offices))):
    df = pd.DataFrame(data.iloc[i].offices)
    df['name'] = str(data.loc[i,['name'][0]])
    df['total_employees'] = data.iloc[i].number_of_employees
    df['category'] = str(data.loc[i,['category_code'][0]])
    df['total_offices'] = len(data.iloc[i].offices)
    lista_df.append(df)

100%|██████████| 12957/12957 [02:05<00:00, 102.86it/s]

In [9]:
len(lista_df)

12957

In [10]:
final = pd.concat(lista_df).reset_index(drop=True)
final.head()

,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude,name,total_employees,category,total_offices
0,None,135 Mississippi St,,94107,San Francisco,CA,USA,37.7647,-122.395,Digg,60.0,news,1
1,Headquarters,1601 Willow Road,,94025,Menlo Park,CA,USA,37.416,-122.152,Facebook,5299.0,social,3
2,Europe HQ,,,,Dublin,None,IRL,53.3441,-6.26749,Facebook,5299.0,social,3
3,New York,340 Madison Ave,,10017,New York,NY,USA,40.7557,-73.9792,Facebook,5299.0,social,3
4,None,"959 Skyway Road, Suite 200",None,94070,San Carlos,CA,USA,37.5069,-122.248,Postini,NaN,web,1

In [11]:
final.shape

(15848, 13)

In [12]:
final.groupby('country_code')['name'].count().sort_values(ascending=False).head(10)

country_code
USA    9652
GBR    1327
CAN     591
IND     509
DEU     392
FRA     359
AUS     263
ESP     232
ISR     213
CHN     196
Name: name, dtype: int64

In [13]:
#genero una lista con los geopuntos en formato de diccionario
lista_points = []
for i in tqdm(range(len(final.longitude))):
    
    lista_points.append(dict({'type':'Point',
                          'coordinates': [final.longitude[i],
                                         final.latitude[i]]}))

100%|██████████| 15848/15848 [00:01<00:00, 8747.27it/s]

In [14]:
len(lista_points)

15848

In [15]:
#agrego los puntos al DataFrame 
final['principal'] = pd.Series(lista_points)

In [16]:
final.columns

Index(['description', 'address1', 'address2', 'zip_code', 'city', 'state_code',
       'country_code', 'latitude', 'longitude', 'name', 'total_employees',
       'category', 'total_offices', 'principal'],
      dtype='object')

In [17]:
final.shape

(15848, 14)

In [18]:
#reordeno el dataframe
final = final[['name','total_employees','category','total_offices','description','address1',
              'address2','zip_code','city','state_code','country_code','latitude','longitude','principal']]

In [19]:
#agrego columna JUMBO o SMB dependiendo de la cantidad de empleados
final['company_size'] = np.where(final.total_employees>1000,'JUMBO','SMB')

final.head()

,name,total_employees,category,total_offices,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude,principal,company_size
0,Digg,60.0,news,1,None,135 Mississippi St,,94107,San Francisco,CA,USA,37.7647,-122.395,"{'type': 'Point', 'coordinates': [-122.394523,...",SMB
1,Facebook,5299.0,social,3,Headquarters,1601 Willow Road,,94025,Menlo Park,CA,USA,37.416,-122.152,"{'type': 'Point', 'coordinates': [-122.151801,...",JUMBO
2,Facebook,5299.0,social,3,Europe HQ,,,,Dublin,None,IRL,53.3441,-6.26749,"{'type': 'Point', 'coordinates': [-6.267494, 5...",JUMBO
3,Facebook,5299.0,social,3,New York,340 Madison Ave,,10017,New York,NY,USA,40.7557,-73.9792,"{'type': 'Point', 'coordinates': [-73.9792469,...",JUMBO
4,Postini,NaN,web,1,None,"959 Skyway Road, Suite 200",None,94070,San Carlos,CA,USA,37.5069,-122.248,"{'type': 'Point', 'coordinates': [-122.247573,...",SMB

In [20]:
#elimino a las empresas JUMBO
final = final[final.company_size == 'SMB']
final.head()

,name,total_employees,category,total_offices,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude,principal,company_size
0,Digg,60.0,news,1,None,135 Mississippi St,,94107,San Francisco,CA,USA,37.7647,-122.395,"{'type': 'Point', 'coordinates': [-122.394523,...",SMB
4,Postini,NaN,web,1,None,"959 Skyway Road, Suite 200",None,94070,San Carlos,CA,USA,37.5069,-122.248,"{'type': 'Point', 'coordinates': [-122.247573,...",SMB
5,Geni,18.0,web,1,Headquarters,9229 W. Sunset Blvd.,,90069,West Hollywood,CA,USA,34.0904,-118.393,"{'type': 'Point', 'coordinates': [-118.393064,...",SMB
6,Flektor,NaN,games_video,1,None,"8536 National Blvd, Suite A",None,90232,Culver City,CA,USA,34.026,-118.38,"{'type': 'Point', 'coordinates': [-118.379768,...",SMB
7,Fox Interactive Media,0.0,web,1,,407 N Maple Dr,,90210,Beverly Hills,CA,USA,34.0762,-118.394,"{'type': 'Point', 'coordinates': [-118.39417, ...",SMB

In [21]:
final.shape

(15383, 15)

In [22]:
final.dropna(subset=['latitude','longitude'],inplace=True)

In [23]:
final.shape

(9919, 15)

# Step 4
#### Create a new collection with the final DataFrame in MongoCompass so we can add a 2dsphere index.

In [33]:
#inserto en compass el data frame resultante en una nueva coleccion
db.project.insert_many(final.to_dict('records'))

In [34]:
#creo el índice 2dsphere para poder hacer geoqueries
db.project.create_index([('principal', '2dsphere')])

'principal_2dsphere'

# Step 5

#### Make geoqueries of the new collection with client conditions

In [26]:
cole = db.project

In [27]:
#funcion que me permite encontrar puntos cercanos con radio por default de 1000 metros
def find_near(geopoint, radio=10000):
    
    return cole.find({'principal':{
        '$near': {'$geometry': geopoint, '$maxDistance':radio}
    }})

In [28]:
#inicializo la conexión con geocoder
key = 'd8314354b31d46a298e0f21ffb920a34'
geocoder = OpenCageGeocode(key)

In [29]:
#función que permite al usuario elegir una dirección y en base a la misma devuelve los datos necesarios para hacer la geoquery
def getting_coor():
    try:
        x = input('Where would you like your office? ')
        m = input('Whats the max distance you would like to evaluate: ')
        results = geocoder.geocode(x)
        fcoordinates=[]
        coordinates=[]
        coordinates.append(results[0]['geometry']['lng'])
        coordinates.append(results[0]['geometry']['lat']) 
        bandera = results[0]['annotations']['flag']
        country = results[0]['components']['country']
        city=results[0]['components']['city']
        localidad = country+', '+city
        fcoordinates.append(coordinates)
        fcoordinates.append(m)
        fcoordinates.append(localidad)
        fcoordinates.append(x)
        fcoordinates.append(bandera)
        return fcoordinates
    except:
        return 'Not a valid address'

In [36]:
#este podría ser el código principal que solicita el input del usuario y devuelve el mapa

coordenadas = getting_coor() #acá inicializa la funcion creada arriba
longlat = coordenadas[0]
latlong = longlat[::-1]
radio = int(coordenadas[1])
pais = coordenadas[4]
localidad = coordenadas[2]
direccion_solicitud = coordenadas[3]

address={'type': 'Point', 'coordinates':longlat}  # geopoint

ratio=radio  # radio de busqueda

n_ofi=find_near(address, ratio).count()
ofi = find_near(address, ratio)
ofi=pd.DataFrame(ofi)

#creating map object
tooltip = 'Location you chose: {} \n {}'.format(direccion_solicitud,localidad)
mapa=folium.Map(latlong, zoom_start=12, width='100%', height='100%')
datamapa=ofi[['latitude', 'longitude']].values
mapa.add_child(plugins.HeatMap(datamapa, radius=15))
folium.Marker(latlong, tooltip=tooltip, icon=folium.Icon()).add_to(mapa)
mapa.save('MapaFinal.html')
print('Amount of offices near {} are: {}'.format(direccion_solicitud,n_ofi))
mapa

Where would you like your office? San Diego California
Whats the max distance you would like to evaluate: 2500
Amount of offices near San Diego California are: 24

# Step 6
#### Get more information about restaurants in the area and display them with the heatmap mentioned above and marking where the restaurants of coffee shops are.

#### Found a DB in Kaggle with California restaurants. I proceed to explore and clean data

In [37]:
#https://www.kaggle.com/vaibhavsxn/restaurants-in-california

with open('rest_data_ca.pkl', 'rb') as rest:
    data = pickle.load(rest)
    
dfrest = pd.DataFrame(data)

In [38]:
dfrest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52477 entries, 0 to 56157
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Cuisine     52477 non-null  object
 1   address     52477 non-null  object
 2   name        52477 non-null  object
 3   postalCode  52477 non-null  object
 4   Tag         52477 non-null  object
 5   ratings     52477 non-null  int64
dtypes: int64(1), object(5)
memory usage: 2.8+ MB

In [39]:
dfrest.Cuisine.value_counts()

All          47851
Mexican       4530
Fast Food       64
Veg             32
Name: Cuisine, dtype: int64

In [40]:
dfrest.Tag.value_counts()

Food    52477
Name: Tag, dtype: int64

In [41]:
dfrest.ratings.value_counts()

4    26428
3    26049
Name: ratings, dtype: int64

In [42]:
#removing restaurants with low ratings
dfrest = dfrest[dfrest.ratings>=4]
dfrest.reset_index(drop = True, inplace = True)
dfrest

,Cuisine,address,name,postalCode,Tag,ratings
0,Fast Food,925 Blossom Hill Road Oakridge Mall,Buca Di Beppo - San Jose - Oakridge,95123,Food,4
1,Fast Food,555 Soquel Ave,Ristorante Italiano,95062,Food,4
2,Fast Food,9822 Libra Ave,Milanos Pizza,95827,Food,4
3,Fast Food,1640 Camino Del Rio N,Tilted Kilt Mission Valley,92108,Food,4
4,Fast Food,1231 Park St,The Fire Den,94501,Food,4
...,...,...,...,...,...,...
26423,All,6719 LA TIJERA BLVD # A-B,CHIPOTLE #3094,90045,Food,4
26424,All,100 1/2 7TH ST,BRAAZO PIZZA,90014,Food,4
26425,All,1244 WESTWOOD BLVD,POKE'ME,90024,Food,4
26426,All,217 W TEMPLE AVE,HALL OF JUSTICE,90012,Food,4
26427,All,6741 HOLLYWOOD BLVD,JUICY WINGZ,90028,Food,4

In [43]:
# Using REGEX so I can categorize the restaurant type

def typerest(x):
    if re.search(r'pizza',x.lower()) or re.search(r'pasta',x.lower()) or re.search(r'italia',x.lower()):
        x='Italian'
    elif re.search(r'burger',x.lower()):
        x='Burger'
    elif re.search(r'coffee',x.lower()):
        x='CoffeeShop'
    elif re.search(r'coffee',x.lower()):
        x='CoffeeShop'
    elif re.search(r'pie',x.lower()) or  re.search(r'cake',x.lower()) or re.search(r'dess?ert',x.lower()):
        x='Dessert'
    elif re.search(r'mex',x.lower()) or  re.search(r'taco',x.lower()):
        x='Mexican'
    elif re.search(r'sushi',x.lower()) or  re.search(r'poke',x.lower()) or re.search(r'dumpling',x.lower())\
        or re.search(r'asia',x.lower()) or re.search(r'china?e?',x.lower()) or re.search(r'japan',x.lower())\
        or re.search(r'korea',x.lower()):
        x='Asian'
    else:
        x='other'
        
    return x

In [44]:
#applying the above function to the data frame using TQDM
tqdm.pandas()
dfrest['type'] = dfrest['name'].progress_apply(typerest)

100%|██████████| 26428/26428 [00:00<00:00, 27249.91it/s]

In [45]:
dfrest.head()

,Cuisine,address,name,postalCode,Tag,ratings,type
0,Fast Food,925 Blossom Hill Road Oakridge Mall,Buca Di Beppo - San Jose - Oakridge,95123,Food,4,other
1,Fast Food,555 Soquel Ave,Ristorante Italiano,95062,Food,4,Italian
2,Fast Food,9822 Libra Ave,Milanos Pizza,95827,Food,4,Italian
3,Fast Food,1640 Camino Del Rio N,Tilted Kilt Mission Valley,92108,Food,4,other
4,Fast Food,1231 Park St,The Fire Den,94501,Food,4,other

In [46]:
dfrest.type.value_counts()

other         22147
Mexican        1165
Asian           929
Italian         833
CoffeeShop      632
Burger          552
Dessert         170
Name: type, dtype: int64

In [47]:
#Because of the request number restriction, 
#Im deleting every "other" type restaurant in database
dfrest = dfrest[dfrest.type != 'other']
dfrest.reset_index(drop = True, inplace = True)
dfrest.head()

,Cuisine,address,name,postalCode,Tag,ratings,type
0,Fast Food,555 Soquel Ave,Ristorante Italiano,95062,Food,4,Italian
1,Fast Food,9822 Libra Ave,Milanos Pizza,95827,Food,4,Italian
2,Fast Food,5365 Alton Pkwy,Zpizza,92604,Food,4,Italian
3,Fast Food,6593 Collins Dr,Custom Pie,93021,Food,4,Dessert
4,Fast Food,820 N Alta Ave,You-be's U-bake Pizza,93618,Food,4,Italian

In [48]:
#getting a sample of 2000 restaurantes because of api restriction
dfrest = dfrest.sample(2000)
dfrest.reset_index(drop = True, inplace = True)
dfrest.head()

,Cuisine,address,name,postalCode,Tag,ratings,type
0,All,2068 N GAREY AVE,ANGELES LA MEJOR MEXICAN FOOD,91767,Food,4,Mexican
1,All,8742 GLENOAKS BLVD,OLD TIME BURGERS,91352,Food,4,Burger
2,All,4242 N ROSEMEAD BLVD,IN-N-OUT BURGER #20,91770,Food,4,Burger
3,All,15307 PARTHENIA ST,DANIEL'S TACOS,91343,Food,4,Mexican
4,All,3748 SLAUSON AVE,BURGER KING #11298,90270,Food,4,Burger

In [49]:
dfrest.shape

(2000, 7)

In [50]:
#function to obtain latitude and longitude of the addresses in DF
def gettingres_coor(x):
    try:
        results = geocoder.geocode(x)
        coordinates=[]
        coordinates.append(results[0]['geometry']['lng'])
        coordinates.append(results[0]['geometry']['lat']) 
        return coordinates
    except:
        return np.nan

In [52]:
#applying function to DF
tqdm.pandas()
dfrest['coordinates'] = dfrest.address.progress_apply(gettingres_coor)

100%|██████████| 2000/2000 [39:35<00:00,  1.19s/it]

In [53]:
#removing nan values
dfrest.dropna(inplace=True)
dfrest.reset_index(drop = True, inplace = True)

In [54]:
#splitting columns
dfrest['latitude'] = dfrest.coordinates.apply(lambda x:x[1])
dfrest['longitude'] = dfrest.coordinates.apply(lambda x:x[0])

In [55]:
dfrest.head()

,Cuisine,address,name,postalCode,Tag,ratings,type,coordinates,latitude,longitude
0,All,2068 N GAREY AVE,ANGELES LA MEJOR MEXICAN FOOD,91767,Food,4,Mexican,"[-117.7520488, 34.0684236]",34.068424,-117.752049
1,All,8742 GLENOAKS BLVD,OLD TIME BURGERS,91352,Food,4,Burger,"[-118.3018267, 34.1799755]",34.179975,-118.301827
2,All,4242 N ROSEMEAD BLVD,IN-N-OUT BURGER #20,91770,Food,4,Burger,"[-118.0734294, 34.0840807]",34.084081,-118.073429
3,All,15307 PARTHENIA ST,DANIEL'S TACOS,91343,Food,4,Mexican,"[-118.5031071, 34.2285216]",34.228522,-118.503107
4,All,3748 SLAUSON AVE,BURGER KING #11298,90270,Food,4,Burger,"[-75.926111, 42.105103]",42.105103,-75.926111

In [56]:
#getting a list of the geopoints
lista_pointsres = []
for i in tqdm(range(len(dfrest.latitude))):
    lista_pointsres.append(dict({'type':'Point',
                          'coordinates': [dfrest.longitude[i],
                                         dfrest.latitude[i]]}))

100%|██████████| 1995/1995 [00:00<00:00, 4321.81it/s]

In [57]:
#adding geopoints to main DF
dfrest['principal'] = pd.Series(lista_pointsres)

In [58]:
dfrest.head()

,Cuisine,address,name,postalCode,Tag,ratings,type,coordinates,latitude,longitude,principal
0,All,2068 N GAREY AVE,ANGELES LA MEJOR MEXICAN FOOD,91767,Food,4,Mexican,"[-117.7520488, 34.0684236]",34.068424,-117.752049,"{'type': 'Point', 'coordinates': [-117.7520488..."
1,All,8742 GLENOAKS BLVD,OLD TIME BURGERS,91352,Food,4,Burger,"[-118.3018267, 34.1799755]",34.179975,-118.301827,"{'type': 'Point', 'coordinates': [-118.3018267..."
2,All,4242 N ROSEMEAD BLVD,IN-N-OUT BURGER #20,91770,Food,4,Burger,"[-118.0734294, 34.0840807]",34.084081,-118.073429,"{'type': 'Point', 'coordinates': [-118.0734294..."
3,All,15307 PARTHENIA ST,DANIEL'S TACOS,91343,Food,4,Mexican,"[-118.5031071, 34.2285216]",34.228522,-118.503107,"{'type': 'Point', 'coordinates': [-118.5031071..."
4,All,3748 SLAUSON AVE,BURGER KING #11298,90270,Food,4,Burger,"[-75.926111, 42.105103]",42.105103,-75.926111,"{'type': 'Point', 'coordinates': [-75.926111, ..."

In [59]:
#inserting to Compass
db.restaurantes.insert_many(dfrest.to_dict('records'))

In [60]:
#creating 2dsphere index
db.restaurantes.create_index([('principal', '2dsphere')])

'principal_2dsphere'

In [61]:
#function to find restaurants near clients input
coleres = db.restaurantes
def find_near_res(geopoint, radio=10000):
    
    return coleres.find({'principal':{
        '$near': {'$geometry': geopoint, '$maxDistance':radio}
    }})

In [62]:
#main code to ask client where they want the office and getting all the needed information

coordenadas = getting_coor() #function discribed above
longlat = coordenadas[0]
latlong = longlat[::-1]
radio = int(coordenadas[1])
pais = coordenadas[4]
localidad = coordenadas[2]
direccion_solicitud = coordenadas[3]

address={'type': 'Point', 'coordinates':longlat}  # geopoint

ratio=radio  # radio de busqueda

#query for offices
n_ofi=find_near(address, ratio).count()
ofi = find_near(address, ratio)
ofi=pd.DataFrame(ofi)

#query for restaurants
n_res=find_near_res(address, ratio).count()
restaurant = find_near_res(address, ratio)
restaurant = pd.DataFrame(restaurant)

#creating map object
tooltip = 'Location you chose: {} \n {}'.format(direccion_solicitud,localidad)
mapa=folium.Map(latlong, zoom_start=11)
datamapa=ofi[['latitude', 'longitude']].values
mapa.add_child(plugins.HeatMap(datamapa, radius=15))
folium.Marker(latlong, tooltip=tooltip, icon=folium.Icon(color='red')).add_to(mapa)
for i in trange(len(restaurant.latitude)):
    folium.Marker([restaurant.latitude[i],restaurant.longitude[i]],
                      tooltip = restaurant.name[i], icon = folium.Icon()).add_to(mapa)

mapa.save('MapaFinalRestaurantes.html')
print('Amount of offices near {} are: {}'.format(direccion_solicitud,n_ofi))
print('Amount of restaurants near {} are: {}'.format(direccion_solicitud,n_res))
mapa

Where would you like your office? San Diego California
Whats the max distance you would like to evaluate: 2500

100%|██████████| 2/2 [00:00<00:00, 411.63it/s]

Amount of offices near San Diego California are: 24
Amount of restaurants near San Diego California are: 2

In [63]:
restaurant.head()

,_id,Cuisine,address,name,postalCode,Tag,ratings,type,coordinates,latitude,longitude,principal
0,5e9db680e283983c43b35a8e,All,740 W BROADWAY,FRANK'S BURGER,91204,Food,4,Burger,"[-117.1701501, 32.7156373]",32.715637,-117.17015,"{'type': 'Point', 'coordinates': [-117.1701501..."
1,5e9db680e283983c43b35e67,All,3995 24th St,STARBUCKS COFFEE #545,94114,Food,4,CoffeeShop,"[-117.14241, 32.706318]",32.706318,-117.14241,"{'type': 'Point', 'coordinates': [-117.14241, ..."