## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [7]:
sample_list_1=random.sample(range(0,101),80)
print(sample_list_1)

[81, 38, 1, 7, 62, 26, 9, 75, 87, 89, 28, 70, 59, 17, 13, 85, 63, 45, 30, 51, 83, 94, 96, 42, 10, 5, 71, 64, 48, 68, 23, 72, 74, 66, 95, 41, 0, 36, 43, 92, 82, 93, 2, 22, 77, 91, 49, 52, 57, 88, 24, 44, 56, 11, 53, 19, 32, 8, 80, 16, 58, 20, 18, 98, 61, 12, 47, 35, 4, 69, 46, 15, 97, 6, 86, 3, 76, 50, 60, 37]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [8]:
set1= set(sample_list_1)
print(len(set1))
#números sigue siendo la misma sin elementos repetidos

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [9]:
sample_list_2=[] #pues lista
for e in range(80):
    elem=random.randint(0,100)
    sample_list_2.append(elem)
print(sample_list_2)

[79, 90, 9, 48, 22, 25, 69, 83, 8, 78, 82, 12, 66, 59, 9, 34, 55, 10, 45, 71, 59, 0, 26, 80, 60, 44, 90, 50, 43, 54, 24, 96, 39, 77, 85, 94, 52, 13, 69, 39, 49, 73, 19, 86, 47, 70, 86, 11, 46, 80, 71, 33, 36, 23, 44, 28, 80, 14, 35, 18, 6, 57, 81, 88, 86, 7, 57, 51, 12, 68, 77, 43, 75, 61, 3, 87, 66, 34, 7, 62]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [10]:
set2= set(sample_list_2)
print(len(set2))


#no pues set coje los valores únicos de conjunto

62

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [11]:
# uno menos el otro
set3= set1.difference(set2)

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [12]:
# diferencia de 2 de 1
set4= set2.difference(set1)

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [13]:
# def de intersección
set5=set1.intersection(set2)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [15]:
# suma de conjuntos menos inters
total1=len(set1)+len(set2)-len(set5)

#otro para comprobar
total2=len(set3)+len(set4)+len(set5)

if total1==total2: 
    print(True)

True

#### Create an empty set called `set6`.

In [17]:
# Your code here
set6=set()
#para probar: print(type(set6))

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [18]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 26, 28, 30, 32, 35, 36, 37, 38, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 68, 69, 70, 71, 72, 74, 75, 76, 77, 80, 81, 82, 83, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98}

#### Check if `set1` and `set6` are equal.

In [19]:
# Your code here
if set1==set6:
    print(True)
else:
    print(False)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [21]:
# Your code here
set2.issubset(set1)
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [22]:
# puede ponerse uno seguido del otro
print(len(set3.union(set4).union(set5)))
print(len(set1.union(set2)))

91
91

#### Using the `pop` method, remove the first element from `set1`.

In [26]:
print(set1)
set1.pop()

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 26, 28, 30, 32, 35, 36, 37, 38, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 68, 69, 70, 71, 72, 74, 75, 76, 77, 80, 81, 82, 83, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98}

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [29]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(set1)
print('')
#setmiau=set(list_to_remove)
for e in list_to_remove:
    if e in set1:
        set1.remove(e)
    
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 26, 28, 30, 32, 35, 36, 37, 38, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 68, 69, 70, 71, 72, 74, 75, 76, 77, 80, 81, 82, 83, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98}

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 22, 23, 24, 26, 28, 30, 32, 35, 36, 37, 38, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 56, 57, 58, 60, 62, 63, 64, 66, 68, 70, 72, 74, 75, 76, 77, 80, 82, 83, 85, 86, 87, 88, 92, 93, 94, 95, 96, 97, 98}