# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [3]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [4]:
#your code
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")
#soup

In [5]:
Boxes = soup.select('article',{"class":"Box-row d-flex"})
for Box in Boxes:
    match = re.findall('(id="(.*?)")',str(Box)) 
    if match:
        print (re.sub('(pa-)','',(match[0])[1]))

tiangolo
felangel
Tyriar
bryphe
imanghafoori1
zhanghang1989
coocood
alex
JakeWharton
fzaninotto
Palakis
sapegin
yurishkuro
sorrycc
edenhill
soumith
mholt
mpociot
hugobowne
medikoo
ijjk
stsewd
maximkulkin
layershifter
frenck

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [6]:
#your code

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [7]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [8]:
#your code
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")
Boxes = soup.select('h1',{"class":"Box-row"})
Boxes
Names = []
for Box in Boxes:
    match = re.findall('(href="(.*?)")',str(Box)) 
    if match:
        Names.append(re.sub('(href=)','',(match[0])[1]))
pd.DataFrame(Names)

                                                    0
0                             /rojter-tech/pluradl.py
1   /google-research/text-to-text-transfer-transfo...
2                    /manchenkoff/skillbox-async-chat
3                     /senguptaumd/Background-Matting
4                 /pcomputo/Whole-Foods-Delivery-Slot
5                            /yenchenlin/nerf-pytorch
6                /0voice/interview_internal_reference
7              /kon9chunkit/GitHub-Chinese-Top-Charts
8                             /qilingframework/qiling
9                               /CharlesPikachu/Games
10                                     /d2l-ai/d2l-zh
11                                /quantopian/zipline
12                          /aws/sagemaker-python-sdk
13               /facebookresearch/maskrcnn-benchmark
14                              /TheAlgorithms/Python
15                             /shenweichen/DeepMatch
16                   /alex04072000/ObstructionRemoval
17                                     /mkdocs/mkdocs
18                          /huggingface/transformers
19    /renatoviolin/Question-Answering-Albert-Electra
20                                 /nicolargo/glances
21                            /quantumblacklabs/kedro
22                              /xingyizhou/CenterNet
23                                         /kivy/kivy
24                               /pyqtgraph/pyqtgraph

#### Display all the image links from Walt Disney wikipedia page

In [9]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [10]:
#your code
html = requests.get(url).content
soup_images = BeautifulSoup(html, "lxml")
images = soup_images.find_all('img')
Images_list = []
for image in images:
    match = re.findall('(src="(.*?)")',str(image)) 
    if match:
        Images_list.append(re.sub('([/]{2})','',(match[0])[1]))
pd.DataFrame(Images_list.copy(),columns = ['image links'])

                                          image links
0   upload.wikimedia.org/wikipedia/en/thumb/e/e7/C...
1   upload.wikimedia.org/wikipedia/en/thumb/1/1b/S...
2   upload.wikimedia.org/wikipedia/commons/thumb/d...
3   upload.wikimedia.org/wikipedia/commons/thumb/8...
4   upload.wikimedia.org/wikipedia/commons/thumb/c...
5   upload.wikimedia.org/wikipedia/commons/thumb/4...
6   upload.wikimedia.org/wikipedia/commons/thumb/0...
7   upload.wikimedia.org/wikipedia/commons/thumb/7...
8   upload.wikimedia.org/wikipedia/en/thumb/4/4e/S...
9   upload.wikimedia.org/wikipedia/commons/thumb/5...
10  upload.wikimedia.org/wikipedia/commons/thumb/c...
11  upload.wikimedia.org/wikipedia/commons/thumb/1...
12  upload.wikimedia.org/wikipedia/commons/thumb/1...
13  upload.wikimedia.org/wikipedia/commons/thumb/8...
14  upload.wikimedia.org/wikipedia/commons/thumb/f...
15  upload.wikimedia.org/wikipedia/commons/thumb/1...
16  upload.wikimedia.org/wikipedia/commons/thumb/2...
17  upload.wikimedia.org/wikipedia/commons/thumb/a...
18  upload.wikimedia.org/wikipedia/commons/thumb/6...
19  upload.wikimedia.org/wikipedia/en/thumb/8/8a/O...
20  upload.wikimedia.org/wikipedia/commons/thumb/4...
21  upload.wikimedia.org/wikipedia/commons/thumb/d...
22  upload.wikimedia.org/wikipedia/en/thumb/6/69/P...
23  upload.wikimedia.org/wikipedia/commons/thumb/1...
24  upload.wikimedia.org/wikipedia/en/thumb/e/e7/V...
25  upload.wikimedia.org/wikipedia/commons/thumb/a...
26  upload.wikimedia.org/wikipedia/commons/thumb/8...
27  upload.wikimedia.org/wikipedia/en/thumb/a/a4/F...
28  upload.wikimedia.org/wikipedia/en/thumb/4/4a/C...
29  upload.wikimedia.org/wikipedia/commons/thumb/f...
30  upload.wikimedia.org/wikipedia/commons/thumb/f...
31  upload.wikimedia.org/wikipedia/en/thumb/8/8a/O...
32  en.wikipedia.org/wiki/Special:CentralAutoLogin...
33                /static/images/wikimedia-button.png
34       /static/images/poweredby_mediawiki_88x31.png

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [11]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [12]:
#your code
html = requests.get(url).content

In [13]:
soup_Links = BeautifulSoup(html, "lxml")
links = soup_Links.find_all('a')
links_list = []
for link in links:
    match = re.findall('(href="https(.*?)")',str(links)) 
    if match:
        links_list.append(re.sub('(https=)','',(match[0])[1]))
pd.DataFrame(links_list.copy(),columns=['links'])

                                links
0    ://en.wiktionary.org/wiki/Python
1    ://en.wiktionary.org/wiki/Python
2    ://en.wiktionary.org/wiki/Python
3    ://en.wiktionary.org/wiki/Python
4    ://en.wiktionary.org/wiki/Python
..                                ...
154  ://en.wiktionary.org/wiki/Python
155  ://en.wiktionary.org/wiki/Python
156  ://en.wiktionary.org/wiki/Python
157  ://en.wiktionary.org/wiki/Python
158  ://en.wiktionary.org/wiki/Python

[159 rows x 1 columns]

#### Number of Titles that have changed in the United States Code since its last release point

In [14]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'
html = requests.get(url).content

In [15]:
#your code
soup_items = BeautifulSoup(html, "lxml")
items = soup_items.find_all('div',{'class':'uscitem'})
items
items_list = []
for item in items:
    match = re.findall('((Title)+\ . - (.*?) \<)',str(item)) 
    if match:
        #print(match[0])
        items_list.append(re.sub('(<)','',(match[0])[0]))
pd.DataFrame(items_list.copy(),columns=['titles'])

                                              titles
0                      Title 1 - General Provisions
1                           Title 3 - The President
2  Title 4 - Flag and Seal, Seat of Government, a...
3   Title 5 - Government Organization and Employees
4                             Title 9 - Arbitration

#### A Python list with the top ten FBI's Most Wanted names

In [16]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'
html = requests.get(url).content
soup_items = BeautifulSoup(html, "lxml")

In [17]:
#your code  portal-type-person castle-grid-block-item
names = soup_items.find_all('li',{'class':'portal-type-person castle-grid-block-item'})
names
names_list = []
for name in names:
    match = re.findall('(\>(.*?)\<)',str(name)) 
    if match:
        names_list.append((match[2])[1])
        
pd.DataFrame(names_list.copy(),columns=['Top_Ten'])

                          Top_Ten
0                   ALEXIS FLORES
1                   EUGENE PALMER
2       SANTIAGO VILLALBA MEDEROS
3            RAFAEL CARO-QUINTERO
4           ROBERT WILLIAM FISHER
5  BHADRESHKUMAR CHETANBHAI PATEL
6      ALEJANDRO ROSALES CASTILLO
7                 ARNOLDO JIMENEZ
8                YASER ABDEL SAID
9               JASON DEREK BROWN

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [91]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'
res=requests.get(url) 

data=res.text

soup=BeautifulSoup(data, 'html.parser')

In [92]:
#your code
tables=soup.select('tbody')
tables
tables2 = []
match = re.findall('(\>(.*?)\<)',str(tables))
for i in match:
    if len(i[1]) > 2:
        tables2.append(i[1])
tables3 =[]
for i in range(0, len(tables2), 10):
    chunk = tables2[i:i + 10]
    tables3.append(chunk)
earthq = pd.DataFrame(tables3)
earthq

,0,1,2,3,4,5,6,7,8,9
0,earthquake,2020-04-08 15:46:43.5,21min ago,37.47,N,36.01,E,3.0,CENTRAL TURKEY,2020-04-08 16:05
1,earthquake,2020-04-08 15:29:30.0,39min ago,40.40,N,142.20,E,3.6,"NEAR EAST COAST OF HONSHU, JAPAN",2020-04-08 15:35
2,earthquake,2020-04-08 15:16:33.0,51min ago,16.85,N,100.25,W,4.0,"OFFSHORE GUERRERO, MEXICO",2020-04-08 15:41
3,earthquake,2020-04-08 15:10:47.3,57min ago,46.22,N,12.54,E,2.9,NORTHERN ITALY,2020-04-08 16:05
4,earthquake,2020-04-08 14:57:27.0,1hr 11min ago,2.45,S,139.25,E,4.6,"NEAR N COAST OF PAPUA, INDONESIA",2020-04-08 15:10
5,earthquake,2020-04-08 14:32:30.0,1hr 36min ago,10.54,N,83.31,W,4.8,COSTA RICA,2020-04-08 14:43
6,earthquake,2020-04-08 14:17:30.6,1hr 50min ago,44.38,N,115.20,W,3.2,SOUTHERN IDAHO,2020-04-08 14:35
7,earthquake,2020-04-08 14:17:23.4,1hr 51min ago,42.90,N,13.15,E,2.4,CENTRAL ITALY,2020-04-08 14:24
8,earthquake,2020-04-08 14:15:23.9,1hr 53min ago,44.40,N,115.13,W,2.6,SOUTHERN IDAHO,2020-04-08 14:44
9,earthquake,2020-04-08 13:56:35.0,2hr 11min ago,4.03,S,133.83,E,3.7,"NEAR S COAST OF PAPUA, INDONESIA",2020-04-08 14:07
10,earthquake,2020-04-08 13:45:44.3,2hr 22min ago,17.96,N,66.83,W,2.6,PUERTO RICO,2020-04-08 14:15
11,earthquake,2020-04-08 13:33:14.6,2hr 35min ago,19.22,N,155.42,W,2.3,"ISLAND OF HAWAII, HAWAII",2020-04-08 13:38
12,earthquake,2020-04-08 13:25:45.0,2hr 42min ago,18.70,N,71.68,W,3.3,DOMINICAN REPUBLIC,2020-04-08 15:00
13,earthquake,2020-04-08 13:20:21.2,2hr 48min ago,18.02,N,66.77,W,3.0,PUERTO RICO,2020-04-08 13:45
14,earthquake,2020-04-08 13:13:55.8,2hr 54min ago,44.25,N,115.13,W,2.4,SOUTHERN IDAHO,2020-04-08 15:19
15,earthquake,2020-04-08 13:04:07.5,3hr 04min ago,46.72,N,7.70,E,1.8,SWITZERLAND,2020-04-08 13:11
16,earthquake,2020-04-08 12:38:13.9,3hr 30min ago,19.35,N,155.11,W,2.1,"ISLAND OF HAWAII, HAWAII",2020-04-08 12:43
17,earthquake,2020-04-08 12:32:30.0,3hr 36min ago,37.60,N,140.60,E,100,3.9,"EASTERN HONSHU, JAPAN"
18,2020-04-08 12:40,earthquake,2020-04-08 12:26:37.0,3hr 41min ago,2.09,S,140.67,E,3.2,"NEAR N COAST OF PAPUA, INDONESIA"
19,2020-04-08 12:45,earthquake,2020-04-08 12:23:29.2,3hr 45min ago,19.25,N,155.39,W,2.7,"ISLAND OF HAWAII, HAWAII"
20,2020-04-08 12:56,earthquake,2020-04-08 12:14:28.2,3hr 54min ago,17.87,N,66.89,W,2.7,PUERTO RICO REGION
21,2020-04-08 12:32,earthquake,2020-04-08 12:08:25.0,4hr 00min ago,18.47,N,68.25,W,3.4,"MONA PASSAGE, DOMINICAN REPUBLIC"
22,2020-04-08 14:55,earthquake,2020-04-08 11:50:09.0,4hr 18min ago,1.58,N,127.28,E,122,4.5
23,"HALMAHERA, INDONESIA",2020-04-08 12:00,earthquake,2020-04-08 11:50:03.7,4hr 18min ago,17.98,N,66.83,W,2.9
24,PUERTO RICO,2020-04-08 12:29,earthquake,2020-04-08 11:44:46.8,4hr 23min ago,19.22,N,155.42,W,2.2
25,"ISLAND OF HAWAII, HAWAII",2020-04-08 11:50,earthquake,2020-04-08 11:36:02.2,4hr 32min ago,38.40,N,39.14,E,2.5
26,EASTERN TURKEY,2020-04-08 12:39,earthquake,2020-04-08 11:35:22.6,4hr 33min ago,17.98,N,66.73,W,2.6
27,PUERTO RICO REGION,2020-04-08 12:03,earthquake,2020-04-08 11:31:03.4,4hr 37min ago,19.21,N,155.41,W,2.3
28,"ISLAND OF HAWAII, HAWAII",2020-04-08 11:36,earthquake,2020-04-08 11:27:02.2,4hr 41min ago,19.24,N,155.43,W,3.6
29,"ISLAND OF HAWAII, HAWAII",2020-04-08 11:39,earthquake,2020-04-08 10:50:48.0,5hr 17min ago,37.41,N,20.69,E,2.8
30,IONIAN SEA,2020-04-08 11:43,earthquake,2020-04-08 10:44:30.0,5hr 24min ago,39.60,N,142.10,E,3.7
31,"NEAR EAST COAST OF HONSHU, JAPAN",2020-04-08 10:50,earthquake,2020-04-08 10:40:01.0,5hr 28min ago,3.18,S,130.47,E,4.3
32,"SERAM, INDONESIA",2020-04-08 11:10,earthquake,2020-04-08 10:37:38.0,5hr 30min ago,3.13,S,130.51,E,3.0
33,"SERAM, INDONESIA",2020-04-08 12:00,earthquake,2020-04-08 10:34:16.9,5hr 34min ago,17.92,N,66.91,W,3.2
34,PUERTO RICO REGION,2020-04-08 12:02,earthquake,2020-04-08 10:32:51.0,5hr 35min ago,0.86,S,100.00,E,3.3
35,"SOUTHERN SUMATRA, INDONESIA",2020-04-08 12:00,earthquake,2020-04-08 10:28:26.3,5hr 40min ago,17.93,N,66.92,W,3.2
36,PUERTO RICO REGION,2020-04-08 10:48,earthquake,2020-04-08 10:06:24.1,6hr 02min ago,17.97,N,66.84,W,2.9
37,PUERTO RICO,2020-04-08 12:02,earthquake,2020-04-08 10:02:31.8,6hr 05min ago,15.70,S,177.55,W,418
38,5.4,FIJI REGION,2020-04-08 12:11,earthquake,2020-04-08 09:41:09.7,6hr 27min ago,33.52,N,116.55,W
39,2.2,SOUTHERN CALIFORNIA,2020-04-08 09:43,earthquake,2020-04-08 09:39:47.0,6hr 28min ago,15.60,N,95.44,W
40,3.9,"OFFSHORE OAXACA, MEXICO",2020-04-08 13:05,earthquake,2020-04-08 09:33:42.0,6hr 34min ago,18.08,N,71.56,W
41,3.1,DOMINICAN REPUBLIC,2020-04-08 10:50,earthquake,2020-04-08 09:30:25.0,6hr 38min ago,33.52,N,116.54,W
42,2.2,SOUTHERN CALIFORNIA,2020-04-08 09:34,earthquake,2020-04-08 09:27:00.7,6hr 41min ago,19.25,N,155.41,W
43,2.1,"ISLAND OF HAWAII, HAWAII",2020-04-08 09:30,earthquake,2020-04-08 09:19:02.2,6hr 49min ago,17.86,N,66.87,W
44,2.7,PUERTO RICO REGION,2020-04-08 09:48,earthquake,2020-04-08 09:13:30.0,6hr 55min ago,23.92,S,67.03,W
45,245,3.9,"SALTA, ARGENTINA",2020-04-08 09:27,earthquake,2020-04-08 09:09:28.0,6hr 59min ago,9.95,S,119.11
46,E,3.7,"SUMBA REGION, INDONESIA",2020-04-08 09:25,earthquake,2020-04-08 09:05:54.0,7hr 02min ago,19.10,N,71.08
47,W,3.1,DOMINICAN REPUBLIC,2020-04-08 10:50,earthquake,2020-04-08 09:02:31.5,7hr 05min ago,19.22,N,155.42
48,W,2.2,"ISLAND OF HAWAII, HAWAII",2020-04-08 09:05,earthquake,2020-04-08 08:54:58.0,7hr 13min ago,19.22,N,155.42
49,W,2.1,"ISLAND OF HAWAII, HAWAII",2020-04-08 09:00,earthquake,2020-04-08 08:52:10.0,7hr 16min ago,21.77,S,67.64
50,W,196,3.8,"POTOSI, BOLIVIA",2020-04-08 09:07,None,None,None,None,None

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [ ]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'

In [ ]:
#your code

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [21]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'
resp = requests.get(url).content
soup = BeautifulSoup(resp,'lxml')
languajes = soup.find_all('strong')

In [27]:
#your code
languajes_list=[]
for i in range(1,len(strong)-1):
    languajes_list.append(strong[i].text)
languajes_list

['English',
 'Español',
 '日本語',
 'Deutsch',
 'Français',
 'Русский',
 'Italiano',
 '中文',
 'Português',
 'Polski']

In [34]:
#!pip install unidecode
import unidecode
numbers = soup.find_all('small')
numbers
ln_1 = []
for i in range(len(numbers)-3):
    ln_1.append(unidecode.unidecode(numbers[i].text))
ln_1

Collecting unidecode
  Downloading https://files.pythonhosted.org/packages/d0/42/d9edfed04228bacea2d824904cae367ee9efd05e6cce7ceaaedd0b0ad964/Unidecode-1.1.1-py2.py3-none-any.whl (238kB)
Installing collected packages: unidecode
Successfully installed unidecode-1.1.1

['6 050 000+ articles',
 '1 588 000+ articulos',
 '1 198 000+ Ji Shi ',
 '2 416 000+ Artikel',
 '2 197 000+ articles',
 '1 611 000+ statei',
 '1 595 000+ voci',
 '1 109 000+ Tiao Mu ',
 '1 027 000+ artigos',
 '1 399 000+ hasel']

In [36]:
df_languajes = pd.DataFrame({"Languajes":languajes_list,"N.Articles":ln_1})
df_languajes

   Languajes            N.Articles
0    English   6 050 000+ articles
1    Español  1 588 000+ articulos
2        日本語    1 198 000+ Ji Shi
3    Deutsch    2 416 000+ Artikel
4   Français   2 197 000+ articles
5    Русский     1 611 000+ statei
6   Italiano       1 595 000+ voci
7         中文   1 109 000+ Tiao Mu
8  Português    1 027 000+ artigos
9     Polski      1 399 000+ hasel

#### A list with the different kind of datasets available in data.gov.uk

In [37]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'
resp = requests.get(url).content
soup = BeautifulSoup(resp,'lxml')
dtasets_uk = soup.find_all('h2')

In [43]:
#your code 
dtasets_uk
datasets = []
for e in dtasets_uk:
    datasets.append(e.text)
datasets

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [45]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
resp = requests.get(url).content
soup = BeautifulSoup(resp,'lxml')
tables = soup.find_all('table')

In [53]:
#your code
df_tables = pd.read_html(resp)
df_tables[0].head()

,Rank,Language,Speakers(millions),% of the World population (March 2019)[8],Language familyBranch
0,1,Mandarin Chinese,918.0,11.922,Sino-TibetanSinitic
1,2,Spanish,480.0,5.994,Indo-EuropeanRomance
2,3,English,379.0,4.922,Indo-EuropeanGermanic
3,4,Hindi (Sanskritised Hindustani)[9],341.0,4.429,Indo-EuropeanIndo-Aryan
4,5,Bengali,228.0,2.961,Indo-EuropeanIndo-Aryan

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [55]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [57]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [65]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'
resp = requests.get(url).content

In [66]:
# your code
df_tables = pd.read_html(resp)
df_tops = df_tables[0]
df_tops.drop('Your Rating', axis=1, inplace=True)
df_tops

,Unnamed: 0,Rank & Title,IMDb Rating,Unnamed: 4
0,NaN,1. Sueños de libertad (1994),9.2,NaN
1,NaN,2. El Padrino (1972),9.1,NaN
2,NaN,3. El padrino 2a parte (1974),9.0,NaN
3,NaN,4. Batman: El Caballero de la Noche (2008),9.0,NaN
4,NaN,5. 12 hombres en pugna (1957),8.9,NaN
...,...,...,...,...
245,NaN,246. PK (2014),8.0,NaN
246,NaN,247. Aladdín (1992),8.0,NaN
247,NaN,248. Alma negra (1949),8.0,NaN
248,NaN,249. Trono de sangre (1957),8.0,NaN
249,NaN,250. El gabinete del Dr. Caligari (1920),8.0,NaN

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [67]:
#your code
df_tops.drop('Unnamed: 4', axis=1, inplace=True)
df_tops.head(10)

   Unnamed: 0                                       Rank & Title  IMDb Rating
0         NaN                     1.  Sueños de libertad  (1994)          9.2
1         NaN                             2.  El Padrino  (1972)          9.1
2         NaN                    3.  El padrino 2a parte  (1974)          9.0
3         NaN       4.  Batman: El Caballero de la Noche  (2008)          9.0
4         NaN                    5.  12 hombres en pugna  (1957)          8.9
5         NaN                  6.  La lista de Schindler  (1993)          8.9
6         NaN  7.  El señor de los anillos: El retorno del re...          8.9
7         NaN                      8.  Tiempos violentos  (1994)          8.8
8         NaN             9.  El bueno, el malo y el feo  (1966)          8.8
9         NaN  10.  El señor de los anillos: La comunidad del...          8.8

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [78]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'
resp = requests.get(url).content
soup = BeautifulSoup(resp,'lxml')
books = soup.find_all('article')

In [88]:
#your code
books
books_data = []
for row in books:
    match = re.findall('(\>(.*?)\<)',str(row))
    for e in match:
        if len(e[1]) > 2:
            books_data.append(e[1])
books_data2 = []
for i in range(0, len(books_data), 3):
    chunk = books_data[i:i + 3]
    books_data2.append(chunk)
lib = pd.DataFrame(books_data2,columns = ['libro','precio','añadir'])
lib

                                    libro  precio         añadir
0                      A Light in the ...  £51.77  Add to basket
1                      Tipping the Velvet  £53.74  Add to basket
2                              Soumission  £50.10  Add to basket
3                           Sharp Objects  £47.82  Add to basket
4            Sapiens: A Brief History ...  £54.23  Add to basket
5                         The Requiem Red  £22.65  Add to basket
6            The Dirty Little Secrets ...  £33.34  Add to basket
7                 The Coming Woman: A ...  £17.93  Add to basket
8                     The Boys in the ...  £22.60  Add to basket
9                         The Black Maria  £52.15  Add to basket
10  Starving Hearts (Triangular Trade ...  £13.99  Add to basket
11                  Shakespeare's Sonnets  £20.66  Add to basket
12                            Set Me Free  £17.46  Add to basket
13    Scott Pilgrim's Precious Little ...  £52.29  Add to basket
14                      Rip it Up and ...  £35.02  Add to basket
15                  Our Band Could Be ...  £57.25  Add to basket
16                                   Olio  £23.88  Add to basket
17        Mesaerion: The Best Science ...  £37.59  Add to basket
18           Libertarianism for Beginners  £51.33  Add to basket
19                It's Only the Himalayas  £45.17  Add to basket