In [1]:
import pandas as pd
import re
import numpy as np
import requests
import json
from pandas.io.json import json_normalize

In [2]:
!curl https://api.spacexdata.com/v3

{"project_name":"SpaceX-API","version":"3.1.0","project_link":"https://github.com/r-spacex/SpaceX-API","docs":"https://documenter.getpostman.com/view/2025350/RWaEzAiG","organization":"r/SpaceX","organization_link":"https://github.com/r-spacex","description":"Open Source REST API for rocket, core, capsule, pad, and launch data, created and maintained by the developers of the r/SpaceX organization"}

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100   400    0   400    0     0   1072      0 --:--:-- --:--:-- --:--:--  1069

In [3]:
url = "https://api.spacexdata.com/v3/launches"

In [4]:
payload = {}
headers= {}
response = requests.request("GET", url, headers=headers, data = payload)

In [5]:
response

In [6]:
results = response.json()
flattened_data = json_normalize(results)

In [7]:
#107 rows x 99 columns
flattened_data.head()

,flight_number,mission_name,mission_id,upcoming,launch_year,launch_date_unix,launch_date_utc,launch_date_local,is_tentative,tentative_max_precision,...,timeline.stage2_rp1_loading,timeline.seco-3,timeline.seco-4,last_date_update,last_ll_launch_date,last_ll_update,last_wiki_launch_date,last_wiki_revision,last_wiki_update,launch_date_source
0,1,FalconSat,[],False,2006,1143239400,2006-03-24T22:30:00.000Z,2006-03-25T10:30:00+12:00,False,hour,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,DemoSat,[],False,2007,1174439400,2007-03-21T01:10:00.000Z,2007-03-21T13:10:00+12:00,False,hour,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Trailblazer,[],False,2008,1217648040,2008-08-02T03:34:00.000Z,2008-08-02T15:34:00+12:00,False,hour,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,RatSat,[],False,2008,1222643700,2008-09-28T23:15:00.000Z,2008-09-28T11:15:00+12:00,False,hour,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,RazakSat,[],False,2009,1247456100,2009-07-13T03:35:00.000Z,2009-07-13T15:35:00+12:00,False,hour,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
flattened_data.columns

Index(['flight_number', 'mission_name', 'mission_id', 'upcoming',
       'launch_year', 'launch_date_unix', 'launch_date_utc',
       'launch_date_local', 'is_tentative', 'tentative_max_precision', 'tbd',
       'launch_window', 'ships', 'launch_success', 'details',
       'static_fire_date_utc', 'static_fire_date_unix', 'crew',
       'rocket.rocket_id', 'rocket.rocket_name', 'rocket.rocket_type',
       'rocket.first_stage.cores', 'rocket.second_stage.block',
       'rocket.second_stage.payloads', 'rocket.fairings.reused',
       'rocket.fairings.recovery_attempt', 'rocket.fairings.recovered',
       'rocket.fairings.ship', 'telemetry.flight_club', 'launch_site.site_id',
       'launch_site.site_name', 'launch_site.site_name_long',
       'launch_failure_details.time', 'launch_failure_details.altitude',
       'launch_failure_details.reason', 'links.mission_patch',
       'links.mission_patch_small', 'links.reddit_campaign',
       'links.reddit_launch', 'links.reddit_recovery', 'links.reddit_media',
       'links.presskit', 'links.article_link', 'links.wikipedia',
       'links.video_link', 'links.youtube_id', 'links.flickr_images',
       'timeline.webcast_liftoff', 'rocket.fairings',
       'timeline.go_for_prop_loading', 'timeline.rp1_loading',
       'timeline.stage1_lox_loading', 'timeline.stage2_lox_loading',
       'timeline.engine_chill', 'timeline.prelaunch_checks',
       'timeline.propellant_pressurization', 'timeline.go_for_launch',
       'timeline.ignition', 'timeline.liftoff', 'timeline.maxq',
       'timeline.meco', 'timeline.stage_sep', 'timeline.second_stage_ignition',
       'timeline.seco-1', 'timeline.dragon_separation',
       'timeline.dragon_solar_deploy', 'timeline.dragon_bay_door_deploy',
       'timeline.fairing_deploy', 'timeline.payload_deploy',
       'timeline.second_stage_restart', 'timeline.seco-2',
       'timeline.webcast_launch', 'timeline.payload_deploy_1',
       'timeline.payload_deploy_2', 'timeline.first_stage_boostback_burn',
       'timeline.first_stage_entry_burn', 'timeline.first_stage_landing',
       'timeline', 'timeline.beco', 'timeline.side_core_sep',
       'timeline.side_core_boostback', 'timeline.center_stage_sep',
       'timeline.center_core_boostback', 'timeline.side_core_entry_burn',
       'timeline.center_core_entry_burn', 'timeline.side_core_landing',
       'timeline.center_core_landing', 'timeline.first_stage_landing_burn',
       'timeline.stage1_rp1_loading', 'timeline.stage2_rp1_loading',
       'timeline.seco-3', 'timeline.seco-4', 'last_date_update',
       'last_ll_launch_date', 'last_ll_update', 'last_wiki_launch_date',
       'last_wiki_revision', 'last_wiki_update', 'launch_date_source'],
      dtype='object')

In [9]:
df_compatible = flattened_data[['flight_number','launch_date_utc','launch_site.site_name','rocket.rocket_name','rocket.second_stage.payloads','launch_success','rocket.first_stage.cores']]

In [10]:
df_compatible.head()

,flight_number,launch_date_utc,launch_site.site_name,rocket.rocket_name,rocket.second_stage.payloads,launch_success,rocket.first_stage.cores
0,1,2006-03-24T22:30:00.000Z,Kwajalein Atoll,Falcon 1,"[{'payload_id': 'FalconSAT-2', 'norad_id': [],...",False,"[{'core_serial': 'Merlin1A', 'flight': 1, 'blo..."
1,2,2007-03-21T01:10:00.000Z,Kwajalein Atoll,Falcon 1,"[{'payload_id': 'DemoSAT', 'norad_id': [], 're...",False,"[{'core_serial': 'Merlin2A', 'flight': 1, 'blo..."
2,3,2008-08-02T03:34:00.000Z,Kwajalein Atoll,Falcon 1,"[{'payload_id': 'Trailblazer', 'norad_id': [],...",False,"[{'core_serial': 'Merlin1C', 'flight': 1, 'blo..."
3,4,2008-09-28T23:15:00.000Z,Kwajalein Atoll,Falcon 1,"[{'payload_id': 'RatSat', 'norad_id': [33393],...",True,"[{'core_serial': 'Merlin2C', 'flight': 1, 'blo..."
4,5,2009-07-13T03:35:00.000Z,Kwajalein Atoll,Falcon 1,"[{'payload_id': 'RazakSAT', 'norad_id': [35578...",True,"[{'core_serial': 'Merlin3C', 'flight': 1, 'blo..."

In [11]:
#Creating a data frame
column_names = ['Flight Number', 'Date','Time (UTC)','Booster Version','Launch Site','Payload','Payload Mass (kg)','Orbit','Customer','Mission Outcome','Landing Outcome']
df_compatible_API = pd.DataFrame(columns = column_names)

In [12]:
#First column
df_compatible_API['Flight Number']=df_compatible['flight_number']

In [13]:
#2Â° Column
df_compatible_API['Date']=df_compatible['launch_date_utc'].apply(lambda x: (str(x).split('T'))[0])

In [14]:
#3Â° Column
df_compatible_API['Time (UTC)']=df_compatible['launch_date_utc'].apply(lambda x: (re.search('.{2}:.{2}:\w+',x))[0])

In [15]:
#4Â° Column
df_compatible_API['Launch Site']=df_compatible['launch_site.site_name']

In [16]:
#5Â° Column
df_compatible_API['Booster Version']=df_compatible['rocket.rocket_name']

In [17]:
#6Â° Column
def get_x(x):
    for l in x:
        return list(l.values())[0]
df_compatible_API['Payload']=df_compatible['rocket.second_stage.payloads'].apply(get_x)

In [18]:
#7Â° Column
def get_x(x):
    for l in x:
        return list(l.values())[8]
df_compatible_API['Payload Mass (kg)']=df_compatible['rocket.second_stage.payloads'].apply(get_x)

In [19]:
#8Â° Column
def get_x(x):
    for l in x:
        return list(l.values())[9]
df_compatible_API['Orbit']=df_compatible['rocket.second_stage.payloads'].apply(get_x)

In [20]:
#9Â° Column
def get_x(x):
    for l in x:
        return list(l.values())[3]
df_compatible_API['Customer']=df_compatible['rocket.second_stage.payloads'].apply(get_x)

In [21]:
df_compatible_API['Customer']=df_compatible_API['Customer'].apply(lambda x: str(x).replace('[',''))
df_compatible_API['Customer']=df_compatible_API['Customer'].apply(lambda x: x.replace(']',''))

In [22]:
df_compatible_API['Mission Outcome']=df_compatible['launch_success']

In [23]:
#10Â° Column
def get_x(x):    
    return list(x[0].values())[6]
df_compatible_API['Landing Outcome']=df_compatible['rocket.first_stage.cores'].apply(get_x)

In [24]:
df_compatible_API.head()

,Flight Number,Date,Time (UTC),Booster Version,Launch Site,Payload,Payload Mass (kg),Orbit,Customer,Mission Outcome,Landing Outcome
0,1,2006-03-24,22:30:00,Falcon 1,Kwajalein Atoll,FalconSAT-2,43.0,LEO,'DARPA',False,None
1,2,2007-03-21,01:10:00,Falcon 1,Kwajalein Atoll,DemoSAT,NaN,LEO,'DARPA',False,None
2,3,2008-08-02,03:34:00,Falcon 1,Kwajalein Atoll,Trailblazer,NaN,LEO,'NASA',False,None
3,4,2008-09-28,23:15:00,Falcon 1,Kwajalein Atoll,RatSat,363.0,LEO,'SpaceX',True,None
4,5,2009-07-13,03:35:00,Falcon 1,Kwajalein Atoll,RazakSAT,440.0,LEO,'ATSB',True,None

In [25]:
#df_compatible_API.to_csv(r'df_API_Spacex.csv', index = False)

In [ ]:
#https://docs.spacexdata.com/?version=latest#02badaab-e03e-40c8-ab20-3bc76d95d401