In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
#CSV doc from kaggle
csv_spacex_lauch = pd.read_csv('spacex_launch_data.csv', sep=',', encoding='ISO-8859-1')
data_original_csv = csv_spacex_lauch.copy()

In [3]:
data_original_csv.head()

,Flight Number,Date,Time (UTC),Booster Version,Launch Site,Payload,Payload Mass (kg),Orbit,Customer,Mission Outcome,Landing Outcome
0,1,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,NaN,LEO,SpaceX,Success,Failure (parachute)
1,2,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel o...",NaN,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,3,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2+,525Â,LEO (ISS),NASA (COTS),Success,No attempt
3,4,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500Â,LEO (ISS),NASA (CRS),Success,No attempt
4,5,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677Â,LEO (ISS),NASA (CRS),Success,No attempt

In [4]:
#CSV doc from spacex_API
API_spacex_lauch = pd.read_csv('df_API_Spacex.csv', sep=',', encoding='ISO-8859-1')
data_original_api = API_spacex_lauch.copy()

In [5]:
data_original_api.head()

,Flight Number,Date,Time (UTC),Booster Version,Launch Site,Payload,Payload Mass (kg),Orbit,Customer,Mission Outcome,Landing Outcome
0,1,2006-03-24,22:30:00,Falcon 1,Kwajalein Atoll,FalconSAT-2,43.0,LEO,'DARPA',False,NaN
1,2,2007-03-21,01:10:00,Falcon 1,Kwajalein Atoll,DemoSAT,NaN,LEO,'DARPA',False,NaN
2,3,2008-08-02,03:34:00,Falcon 1,Kwajalein Atoll,Trailblazer,NaN,LEO,'NASA',False,NaN
3,4,2008-09-28,23:15:00,Falcon 1,Kwajalein Atoll,RatSat,363.0,LEO,'SpaceX',True,NaN
4,5,2009-07-13,03:35:00,Falcon 1,Kwajalein Atoll,RazakSAT,440.0,LEO,'ATSB',True,NaN

In [6]:
#CSV doc from spacex_API
WEB_spacex_lauch = pd.read_csv('df_WEB_Spacex.csv', sep=',', encoding='ISO-8859-1')
data_original_web = WEB_spacex_lauch.copy()

In [7]:
data_original_web

,Flight Number,Date,Time (UTC),Booster Version,Launch Site,Payload,Payload Mass (kg),Orbit,Customer,Mission Outcome,Landing Outcome
0,67,2019-01-11,15:31:00,F9 B5 B1049.2[401],VAFBSLC-4E,Iridium NEXT-8,"9,600Â",Polar LEO,Iridium Communications,Success,Success
1,68,2019-02-22,01:45:00,F9 B5 B1048.3[403],CCAFSSLC-40,Nusantara Satu,Beresheet Moon lander[405],S5[406],"4,850Â kg(10,690Â lb)[407]",GTO,PSN
2,69,2019-03-02,07:49:00,F9 B5B1051.1[270][417],KSCLC-39A,SpX-DM1[418],"12,055Â",LEO (ISS),NASA (CCD),Success,Success
3,FH 2,2019-04-11,22:35:00,Falcon HeavyB1055 core[425],KSCLC-39A,Arabsat-6A[426],"6,465Â",GTO,Arabsat,Success,Success[h]
4,70,2019-05-04,06:48:00,F9 B5B1056.1[424],CCAFSSLC-40,SpaceX CRS-17[145],"2,495Â",LEO (ISS),NASA (CRS),Success,Success
5,71,2019-05-24,02:30:00,F9 B5 B1049.3[438],CCAFSSLC-40,Starlink v0.9,"13,620Â",LEO,SpaceX,Success,Success
6,72,2019-06-12,14:17:00,F9 B5 B1051.2[424],VAFBSLC-4E,RADARSAT Constellation,"4,200Â",SSO,Canadian Space Agency,Success,Success
7,FH 3,2019-06-25,06:30:00,Falcon Heavy B1057 core[424],KSCLC-39A,Space Test Program Flight 2,"3,700Â",LEO / MEO,U.S. Air Force,Success,Failure
8,73,2019-07-25,22:01:00,F9 B5 B1056.2[468],CCAFSSLC-40,SpaceX CRS-18[145],"2,268Â",LEO (ISS),NASA (CRS),Success,Success
9,74,2019-08-06,23:23:00,F9 B5 B1047.3[475],CCAFS SLC-40,AMOS-17[476],"6,500Â",GTO,Spacecom,Success,No attempt[477]
10,75,2019-11-11,14:56:00,F9 B5 B1048.4,"CCAFS, SLC-40",Starlink 1 v1.0,"15,600Â",LEO,SpaceX,Success,Success
11,76,2019-12-05,17:29:00,F9 B5 B1059.1[484],CCAFS SLC-40,SpaceX CRS-19[485],"2,617Â",LEO (ISS),NASA (CRS),Success,Success
12,77,2019-12-17,00:10:00,F9 B5 B1056.3[484],CCAFS SLC-40,JCSat-18 / Kacific 1[490],"6,956Â",GTO,Sky Perfect JSAT Kacific,Success,Success

In [8]:
#Replacing all the data from API 2019 to more complete data taken from WEB scraping wikipedia
data_replace = data_original_api.copy()
data_replace.loc[73:85,'Date':'Landing Outcome']=data_original_web.loc[0:13,'Date':'Landing Outcome'].values
data_replace[73:80]

,Flight Number,Date,Time (UTC),Booster Version,Launch Site,Payload,Payload Mass (kg),Orbit,Customer,Mission Outcome,Landing Outcome
73,74,2019-01-11,15:31:00,F9 B5 B1049.2[401],VAFBSLC-4E,Iridium NEXT-8,"9,600Â",Polar LEO,Iridium Communications,Success,Success
74,75,2019-02-22,01:45:00,F9 B5 B1048.3[403],CCAFSSLC-40,Nusantara Satu,Beresheet Moon lander[405],S5[406],"4,850Â kg(10,690Â lb)[407]",GTO,PSN
75,76,2019-03-02,07:49:00,F9 B5B1051.1[270][417],KSCLC-39A,SpX-DM1[418],"12,055Â",LEO (ISS),NASA (CCD),Success,Success
76,77,2019-04-11,22:35:00,Falcon HeavyB1055 core[425],KSCLC-39A,Arabsat-6A[426],"6,465Â",GTO,Arabsat,Success,Success[h]
77,78,2019-05-04,06:48:00,F9 B5B1056.1[424],CCAFSSLC-40,SpaceX CRS-17[145],"2,495Â",LEO (ISS),NASA (CRS),Success,Success
78,79,2019-05-24,02:30:00,F9 B5 B1049.3[438],CCAFSSLC-40,Starlink v0.9,"13,620Â",LEO,SpaceX,Success,Success
79,80,2019-06-12,14:17:00,F9 B5 B1051.2[424],VAFBSLC-4E,RADARSAT Constellation,"4,200Â",SSO,Canadian Space Agency,Success,Success

In [9]:
data_replace.loc[5:61,'Date':'Landing Outcome']=data_original_csv.loc[0:56,'Date':'Landing Outcome'].values

In [10]:
data_replace.head(10)

,Flight Number,Date,Time (UTC),Booster Version,Launch Site,Payload,Payload Mass (kg),Orbit,Customer,Mission Outcome,Landing Outcome
0,1,2006-03-24,22:30:00,Falcon 1,Kwajalein Atoll,FalconSAT-2,43,LEO,'DARPA',False,NaN
1,2,2007-03-21,01:10:00,Falcon 1,Kwajalein Atoll,DemoSAT,NaN,LEO,'DARPA',False,NaN
2,3,2008-08-02,03:34:00,Falcon 1,Kwajalein Atoll,Trailblazer,NaN,LEO,'NASA',False,NaN
3,4,2008-09-28,23:15:00,Falcon 1,Kwajalein Atoll,RatSat,363,LEO,'SpaceX',True,NaN
4,5,2009-07-13,03:35:00,Falcon 1,Kwajalein Atoll,RazakSAT,440,LEO,'ATSB',True,NaN
5,6,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,NaN,LEO,SpaceX,Success,Failure (parachute)
6,7,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel o...",NaN,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
7,8,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2+,525Â,LEO (ISS),NASA (COTS),Success,No attempt
8,9,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500Â,LEO (ISS),NASA (CRS),Success,No attempt
9,10,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677Â,LEO (ISS),NASA (CRS),Success,No attempt

In [11]:
data_replace.fillna('Unk')
data_replace.head(20)

,Flight Number,Date,Time (UTC),Booster Version,Launch Site,Payload,Payload Mass (kg),Orbit,Customer,Mission Outcome,Landing Outcome
0,1,2006-03-24,22:30:00,Falcon 1,Kwajalein Atoll,FalconSAT-2,43,LEO,'DARPA',False,NaN
1,2,2007-03-21,01:10:00,Falcon 1,Kwajalein Atoll,DemoSAT,NaN,LEO,'DARPA',False,NaN
2,3,2008-08-02,03:34:00,Falcon 1,Kwajalein Atoll,Trailblazer,NaN,LEO,'NASA',False,NaN
3,4,2008-09-28,23:15:00,Falcon 1,Kwajalein Atoll,RatSat,363,LEO,'SpaceX',True,NaN
4,5,2009-07-13,03:35:00,Falcon 1,Kwajalein Atoll,RazakSAT,440,LEO,'ATSB',True,NaN
5,6,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,NaN,LEO,SpaceX,Success,Failure (parachute)
6,7,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel o...",NaN,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
7,8,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2+,525Â,LEO (ISS),NASA (COTS),Success,No attempt
8,9,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500Â,LEO (ISS),NASA (CRS),Success,No attempt
9,10,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677Â,LEO (ISS),NASA (CRS),Success,No attempt
10,11,2013-09-29,16:00:00,F9 v1.1 B1003,VAFB SLC-4E,CASSIOPE,500Â,Polar LEO,MDA,Success,Uncontrolled (ocean)
11,12,2013-12-03,22:41:00,F9 v1.1,CCAFS LC-40,SES-8,"3,170Â",GTO,SES,Success,No attempt
12,13,2014-01-06,22:06:00,F9 v1.1,CCAFS LC-40,Thaicom 6,"3,325Â",GTO,Thaicom,Success,No attempt
13,14,2014-04-18,19:25:00,F9 v1.1,CCAFS LC-40,SpaceX CRS-3,"2,296Â",LEO (ISS),NASA (CRS),Success,Controlled (ocean)
14,15,2014-07-14,15:15:00,F9 v1.1,CCAFS LC-40,OG2 Mission 1 6 Orbcomm-OG2 satellites,"1,316Â",LEO,Orbcomm,Success,Controlled (ocean)
15,16,2014-08-05,8:00:00,F9 v1.1,CCAFS LC-40,AsiaSat 8,"4,535Â",GTO,AsiaSat,Success,No attempt
16,17,2014-09-07,5:00:00,F9 v1.1 B1011,CCAFS LC-40,AsiaSat 6,"4,428Â",GTO,AsiaSat,Success,No attempt
17,18,2014-09-21,5:52:00,F9 v1.1 B1010,CCAFS LC-40,SpaceX CRS-4,"2,216Â",LEO (ISS),NASA (CRS),Success,Uncontrolled (ocean)
18,19,2015-01-10,9:47:00,F9 v1.1 B1012,CCAFS LC-40,SpaceX CRS-5,"2,395Â",LEO (ISS),NASA (CRS),Success,Failure (drone ship)
19,20,2015-02-11,23:03:00,F9 v1.1 B1013,CCAFS LC-40,DSCOVR,570Â,SunâEarth L1,U.S. Air Force NASA NOAA,Success,Controlled (ocean)

In [12]:
#Cleaning time(UTC) column
stage_cleaning = data_replace.copy() 
def adding_zero(x):
    y = x.split(':')
    if len(y[0])<2:
        return ('0{}:{}:{}'.format(y[0],y[1],y[2]))
    else:
        return x
stage_cleaning['Time (UTC)'] = stage_cleaning['Time (UTC)'].apply(adding_zero)

In [13]:
#Getting rid of the Falcon word in column Booster Version
def Falcon(x):
    if 'Falcon 1' in x:
        y = x.split(' ')
        return ('{}{} v1.0'.format(y[0].replace('Falcon','F'),y[1]))
    elif 'Falcon 9' in x:
        y = x.split(' ')
        return ('{}{} v1.1'.format(y[0].replace('Falcon','F'),y[1]))
    else:
        return x
stage_cleaning['Booster Version'] = stage_cleaning['Booster Version'].apply(Falcon)
stage_cleaning['Booster Version'] = stage_cleaning['Booster Version'].apply(lambda x: (x.split('['))[0] if '[' in str(x) else x)
stage_cleaning['Booster Version'] = stage_cleaning['Booster Version'].apply(lambda x: x.replace('  ',' ') if '  ' in str(x) else x)

In [14]:
#Eliminating character 'Â' from the mass
stage_cleaning['Payload Mass (kg)'] = stage_cleaning['Payload Mass (kg)'].apply(lambda x: str(x).replace('Â','') if 'Â' in str(x) else x)

In [15]:
#Landing outcome cleaning
stage_cleaning1 = stage_cleaning.fillna('Unk')
stage_cleaning1['Landing Outcome'] = stage_cleaning1['Landing Outcome'].apply(lambda x: (x.split('('))[0] if '(' in str(x) else x)
stage_cleaning1['Landing Outcome'] = stage_cleaning1['Landing Outcome'].apply(lambda x: (x.split('['))[0] if '[' in str(x) else x)

In [16]:
#We don´t want [...] in the column Payload
stage_cleaning1['Payload'] = stage_cleaning1['Payload'].apply(lambda x: (x.split('['))[0] if '[' in str(x) else x)

In [17]:
#Getting rid of quotations '' in Customer column
stage_cleaning1['Customer'] = stage_cleaning1['Customer'].apply(lambda x: (x.split("'"))[1] if "'" in str(x) else x)

In [18]:
#We only want a maximum of 3 words separated by spaces
def payload_s(x):
    y = str(x).split(' ')
    if len(y) > 3:
        return ('{} {} {}'.format(y[0],y[1],y[2]))
    else:
        return x
stage_cleaning1['Payload'] = stage_cleaning1['Payload'].apply(payload_s)

In [19]:
stage_cleaning1.head(10)

,Flight Number,Date,Time (UTC),Booster Version,Launch Site,Payload,Payload Mass (kg),Orbit,Customer,Mission Outcome,Landing Outcome
0,1,2006-03-24,22:30:00,F1 v1.0,Kwajalein Atoll,FalconSAT-2,43,LEO,DARPA,False,Unk
1,2,2007-03-21,01:10:00,F1 v1.0,Kwajalein Atoll,DemoSAT,Unk,LEO,DARPA,False,Unk
2,3,2008-08-02,03:34:00,F1 v1.0,Kwajalein Atoll,Trailblazer,Unk,LEO,NASA,False,Unk
3,4,2008-09-28,23:15:00,F1 v1.0,Kwajalein Atoll,RatSat,363,LEO,SpaceX,True,Unk
4,5,2009-07-13,03:35:00,F1 v1.0,Kwajalein Atoll,RazakSAT,440,LEO,ATSB,True,Unk
5,6,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification,Unk,LEO,SpaceX,Success,Failure
6,7,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,Dragon demo flight,Unk,LEO (ISS),NASA (COTS) NRO,Success,Failure
7,8,2012-05-22,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight,525,LEO (ISS),NASA (COTS),Success,No attempt
8,9,2012-10-08,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
9,10,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [20]:
#stage_cleaning1.to_csv(r'WEB_project.csv', index = False)